<template>
  <div class="bg-color">
    <div class="container custom-container">
      <div class="row">
        <div class="test-proj-fillup-page">
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="block-title border-bottom-0">
                  Project Status
                </h4>
              </div>
              <div class="col-12">
                <Steps :steps="steps" :active="get_project_current_stage" projectTypeClass="test-project"></Steps>
              </div>
            </div>
          </div>

          <TestProjectDetails :testProject="testproject" :currentTestStatus="currentTestStatus"> </TestProjectDetails>

          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="block-title">
                  Testing Process
                </h4>
              </div>
            </div>
            <div class="row">
             <div class="col-12">
                <div class="testing-process-tabwrap">
                  <b-tabs>
                    <b-tab title="Questions" class="active-tab" active>
                      <div class="tester-questions-tab">
                        <div class="row" v-for="question in testproject.questions">
                          <div class="col-12 col-md-5">
                            <p class="mb-sm-1">
                              <span class="text-medium">Q1.</span>
                              {{question.question}}
                            </p>
                          </div>
                          <div class="col-12 col-md-7">
                            <div class="form-group">
                              <input type="text" v-model="answer_map[question.id]" class="form-control" placeholder=""/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                    <b-tab title="Ratings/Scores">
                      <div class="tester-rating-tab">
                        <h4 class="total-score-txt">
                          Total Score: 79
                          <span class="effective-badge">Effective</span>
                        </h4>
                        <div role="tablist">
                          <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                              <b-btn block href="#" v-b-toggle.accordion1>
                                content
                                <span class="text-right">
                                  Total Score : 00
                                </span>
                              </b-btn>
                            </b-card-header>
                            <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
                              <b-card-body>
                               <starRatings v-model="ratings.content"></starRatings>
                              </b-card-body>
                            </b-collapse>
                          </b-card>
                          <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                              <b-btn block href="#" v-b-toggle.accordion2>
                                <!-- <img src="~img/right-arrow.png" class="img-fluid mr-1"/> -->
                                Gameplay
                                <span class="text-right">
                                  Total Score : 00
                                </span>
                              </b-btn>

                            </b-card-header>
                            <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                              <b-card-body>
                                <starRatings v-model="ratings.gameplay"></starRatings>
                              </b-card-body>
                            </b-collapse>
                          </b-card>
                          <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
                            <b-card-header header-tag="header" class="p-1" role="tab">
                              <b-btn block href="#" v-b-toggle.accordion3>
                                <!-- <img src="~img/right-arrow.png" class="img-fluid mr-1"/> -->
                                multimedia
                                <span class="text-right">
                                  Total Score : 00
                                </span>
                              </b-btn>
                            </b-card-header>
                            <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                              <b-card-body>
                                <starRatings v-model="ratings.multimedia"></starRatings>
                              </b-card-body>
                            </b-collapse>
                          </b-card>
                        </div>
                        <h4 class="total-score-txt mb-0">
                          Total Score: 79
                          <span class="effective-badge">Effective</span>
                        </h4>
                      </div>
                    </b-tab>
                    <!-------------------------------------------------------------- -->

                    <b-tab title="Issues">
                      <div class="tester-issues-tab">
                        <div class="issue-block">
                          <!--<div v-if="bugEmpty" class="pl-3" id="bugEmpty">-->
                            <!--<span class="text-danger">Bug description is empty.</span>-->
                          <!--</div>-->
                          <div class="row" v-for="(issueType, issueIndex) in issueTypes" :key="issueIndex">
                            <div class="col-12">
                              <div class="icon-wrap d-inline-block align-middle">
                                <img :src="issueType.img" class="img-fluid" />
                              </div>
                              <div class="content-wrap d-inline-block align-middle">
                                <p class="text-bold text-green issue-type"> {{ issueType.title }}</p>
                              </div>
                                <p class="mt-1">{{ issueType.typeDesc }}</p>
                            </div>
                            <div class="col-12">
                              <div class="form-group mb-3 mb-md-5">
                                  <div class="issue-link" v-for="(bug, bugIndex) in issueType.bugs" :key="bugIndex">
                                    <div class="row">
                                      <div class="col-10 col-md-11">
                                        <input type="text" :v-name="bug.desc" v-model="bug.desc" class="form-control custom-form-control" placeholder=""/>
                                      </div>
                                      <div class="col-2 col-md-1" v-if="issueType.bugs.length == (bugIndex+1)">
                                        <div class="remove-icon" @click="addField(issueIndex, bugIndex)">
                                          <i class="fa fa-plus-circle"></i>
                                        </div>
                                      </div>
                                      <div class="col-2 col-md-1" v-else>
                                        <div class="remove-icon" @click="removeField(issueIndex, bugIndex)">
                                          <i class="fa fa-minus-circle"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                    <!-------------------------------------------------------------- -->

                    <!-- -->
                    <b-tab title="Attachment">
                      <div class="tester-attachment-tab">
                        <div class="row">
                          <div class="col-12">
                           <div class="text-uppercase green-step-btn add-files-btn">
                              <span>
                                Add Files
                              </span>
                              <input type="file" class="btn" />
                           </div>
                          </div>
                        </div>
                        <div class="attachment-table-wrap">
                          <div class="row">
                            <div class="col-12">
                              <div class="table-responsive">
                                <table class="table table-bordered attachment-table">
                                  <tbody>
                                    <tr>
                                      <td scope="row">
                                        <img src="~img/mp4-icon.png" class="img-fluid" />
                                      </td>
                                      <td class=" text-medium">File Name.mp4</td>
                                      <td>236 MB</td>
                                      <td class="text-center">
                                        <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">
                                          <img src="~img/pdf-icon.png" class="img-fluid" />
                                      </td>
                                      <td class="text-medium">File Name_2.pdf</td>
                                      <td>112 KB</td>
                                      <td class="text-center">
                                        <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">
                                        <img src="~img/png-icon.png" class="img-fluid" />
                                      </td>
                                      <td class="text-medium">File Name_3.png</td>
                                      <td>1.25 MB</td>
                                      <td class="text-center">
                                        <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td scope="row">
                                        <img src="~img/jpg-icon.png" class="img-fluid" />
                                      </td>
                                      <td class="text-medium">File Name_4.jpg</td>
                                      <td>1.25 MB</td>
                                      <td class="text-center">
                                        <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                                        <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </b-tab>
                  </b-tabs>
                </div>
            </div>
            </div>

            <div class="white-box" v-if="isSubmitted">
              <div class="row">
                <div class="col-12">
                  <project-testing-process-review></project-testing-process-review>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <a @click="save(true)" class="btn text-uppercase green-step-btn">review and submit</a>
        <a @click="save()" class="btn text-uppercase green-step-btn">save as draft</a>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import moment from "moment";
import DeviceSelector from "components/components/device-selector";
import starRatings from "components/components/project/rating.vue";
import Steps from "components/components/publisher/steps";
import TestProjectDetails from "components/components/tester/test-project-details";
import ProjectStatusTestProject from "components/components/tester/project-status-test-project";
import ProjectTestingProcessReview from "components/components/project-testing-process-review";
import { testProjectStatusWeight } from "src/services/test-project";
import black_widow_icon from "src/assets/img/black_widow_32x32.png";
import gnat_icon from "src/assets/img/gnat_32x32.png";
import wasp_icon from "src/assets/img/wasp_32x32.png";

var VueScrollTo = require("vue-scrollto");
Vue.use(VueScrollTo, {
  container: "body",
  duration: 500,
  easing: "ease",
  offset: -100,
  cancelable: true,
  onDone: false,
  onCancel: false,
  x: false,
  y: true
});
export default {
  name: "project_submission",
  components: {
    starRatings,
    DeviceSelector,
    Steps,
    TestProjectDetails,
    ProjectStatusTestProject,
    ProjectTestingProcessReview
  },
  data() {
    return {
      isSubmitted: 0,
      testproject: {},
      user: {},
      projectTester: {},
      ratings: {},
      answer_map: {},
      bugEmpty: false,
      issueTypes: [
        {
          img: black_widow_icon,
          name: "High",
          title: "Black Widow -  High type bug",
          typeDesc:
            "The issue(s) is critical / deadly to the app usability and must be dealt with immediately.",
          bugs: [{ id: 1, desc: "" }]
        },
        {
          img: wasp_icon,
          name: "Medium",
          title: "Wasp -  Medium type bug",
          typeDesc:
            "The issue(s) affects the flow / enjoyment of the app but can wait until the next update to be solved.",
          bugs: [{ id: 1, desc: "" }]
        },
        {
          img: gnat_icon,
          name: "Low",
          title: "Gnat - Low type bug",
          typeDesc:
            "The issue(s) is annoying but not critical to app function or flow.",
          bugs: [{ id: 1, desc: "" }]
        },
        {
          img: "",
          name: "Cosmetic",
          title: "Are there any cosmetic issues you would like to mention?",
          typeDesc: "",
          bugs: [{ id: 1, desc: "" }]
        },
        {
          img: "",
          name: "Other",
          title:
            "Do you have any suggestions you would like to pass on to the Publisher?",
          typeDesc: "",
          bugs: [{ id: 1, desc: "" }]
        }
      ],
      steps: [
        { id: 1, name: "New" },
        { id: 2, name: "Accepted/Working" },
        { id: 3, name: "Submitted" },
        { id: 4, name: "Under Review" },
        { id: 5, name: "Completed" }
      ]
    };
  },
  computed: {
    currentTestStatus() {
      if (this.projectTester && this.projectTester.latest_status_data) {
        if (this.projectTester.latest_status.toLowerCase() === "submitted") {
          return `In Review, Submitted: ${moment(
            this.projectTester.latest_status_data.updated_at
          ).format("DD MMM, YYYY HH:mm A")}`;
        }
        return this.projectTester.latest_status;
      }
      // @TODO when user is not associated with test project this should be status of project itself.
      return "Running / Open";
    },
    get_project_current_stage() {
      if (this.projectTester && this.projectTester.latest_status) {
        return testProjectStatusWeight(this.projectTester.latest_status);
      } else {
        return 1;
      }
    }
  },
  mounted: function() {
    axios
      .get(`/api/tester/user/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.projectTester = data;
        this.isSubmitted = this.projectTester.all_status.includes("Submitted");
        if (this.groupedIssues) {
          this.issues = data.groupedIssues;
        }
      })
      .catch(function(error) {});
    axios
      .get(`/api/projects/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.testproject = data;
        this.testproject.selected_devices = data.devices.map(({ id }) => id);
        return axios.get(`/api/projects/${this.testproject.id}/my-ratings`);
      })
      .then(({ data }) => {
        const groups = _.groupBy(data, "collection_name");
        const ratings = {};
        Object.keys(groups).forEach(
          k => (ratings[k] = _.pick(groups[k][0], ["score", "suggestion"]))
        );
        this.ratings = ratings;
      })
      .catch(function(error) {});
  },
  methods: {
    removeField: function(issueTypeIndex, bugIndex, event) {
      this.issueTypes[issueTypeIndex].bugs.splice(bugIndex, 1);
    },
    addField: function(issueTypeIndex, bugIndex, event) {
      let bug = this.issueTypes[issueTypeIndex].bugs[bugIndex];
      // if( bug.desc == "" ){
      //   this.bugEmpty = true;
      //   VueScrollTo.scrollTo('.testing-process-tabwrap');
      // }else{
      //   this.bugEmpty = false;
      this.issueTypes[issueTypeIndex].bugs.push({
        desc: "",
        id: bugIndex++
      });
      // }
    },
    addexplanation: function(event) {
      console.log(event.target);
    },
    save: function(submitted = false) {
      // this.validateBugs();
      let requestData = {
        email: this.$store.state.user.email,
        project_question_answers: this.answer_map,
        issues: this.issueTypes,
        project_id: this.$route.params.id
      };
      // if(!this.bugEmpty){
      this.saveRatings()
        .then(() =>
          axios.put(`/api/tester/${this.$store.state.user.id}`, requestData)
        )
        .then(response => {
          const route = submitted
            ? "tester.project-view-submission"
            : "tester.dashboard";
          this.$router.push({ name: route });
        })
        .catch(error => (this.errors = error.response.data.message));
      // }
    },
    saveRatings() {
      return axios.post(
        `/api/tester/${this.$store.state.user.id}/rating/${
          this.testproject.id
        }`,
        this.ratings
      );
    }
    // validateBugs: function(){
    //   this.bugEmpty = false;
    //   this.issueTypes.forEach(bugType => {
    //     bugType.bugs.forEach( bug => {
    //       if(bug.desc == "" && !this.bugEmpty){
    //         this.bugEmpty = true;
    //       }
    //     });
    //   });
    //   if(this.bugEmpty){
    //     VueScrollTo.scrollTo('.testing-process-tabwrap');
    //   }
    // },
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";

.custom-container {
  max-width: 100%;
  .text-green {
    color: #2cac3d;
  }
  .text-red {
    color: #e63423;
  }
  .text-bold {
    font-family: $font-family-brandon-bold !important;
  }
  .text-medium {
    font-family: $font-family-brandon-medium;
  }
  .test-proj-fillup-page {
    width: 100%;
    .white-box {
      background-color: #fff;
      box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
      color: #606368;
      .block-title {
        font-size: 18px;
        font-family: $font-family-UniNeue-bold;
        border-bottom: 1px solid #dadada;
        color: #606368;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: auto;
        .badge-wrap {
          border: 1px solid #2cac3d;
          background-color: #2cac3d;
          color: #fff;
          font-size: 16px;
          right: -5px;
          position: absolute;
          border-top-left-radius: 16px;
          border-bottom-left-radius: 16px;
          padding: 2px 12px;
          top: -5px;
          font-family: $font-family-brandon-regular;
        }
      }
      .block-title.proj-name-wrap {
        color: #2cac3d;
        .proj-name {
          font-family: $font-family-UniNeue-bold;
          font-size: 24px;
          line-height: 18px;
        }
      }
      .proj-status {
        padding: 0;
        padding-top: 8px;
        overflow: hidden;
        br {
          display: none;
        }
        &:first-child {
          .proj-progress {
            &::before {
              width: calc(50% - 30px);
              left: 15px;
            }
          }
        }
        &:last-child {
          .proj-progress {
            &::after {
              width: calc(50% - 30px);
              right: 15px;
            }
          }
        }
        .proj-progress {
          position: relative;
          margin-bottom: 5px;
          i {
            color: rgba(175, 177, 179, 0.5);
            font-size: 22px;
            line-height: 24px;
          }
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: calc(50% - 5px);
            background-color: #ececec;
            left: -10px;
            top: 11px;
          }
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: calc(50% - 5px);
            background-color: #ececec;
            right: -10px;
            top: 11px;
          }
        }
      }
      .proj-status.active {
        color: #2cac3d;
        .proj-progress {
          i {
            color: #2cac3d;
            font-size: 34px;
            line-height: 24px;
            position: relative;
            &::after {
              height: 15px;
              width: 15px;
              background-color: #2cac3d;
              content: "";
              border-radius: 50%;
              position: absolute;
              left: 7px;
              top: 4px;
            }
          }
          &::before {
            background-color: #2cac3d;
          }
        }
      }
      .proj-status.done-step {
        color: #2cac3d;
        .proj-progress {
          i {
            color: #2cac3d;
            font-size: 34px;
            line-height: 24px;
            position: relative;
            &::after {
              height: 15px;
              width: 15px;
              background-color: #2cac3d;
              content: "";
              border-radius: 50%;
              position: absolute;
              left: 7px;
              top: 4px;
            }
          }
          &::before {
            background-color: #2cac3d;
          }
          &::after {
            background-color: #2cac3d;
          }
        }
      }
      .proj-desc {
        letter-spacing: 0.01rem;
        margin-bottom: 5px;
      }
      .notes-list {
        padding-left: 15px;
        margin-bottom: 0px;
        li {
          position: relative;
          &::before {
            content: "-";
            position: absolute;
            left: -15px;
            top: -1px;
            color: #606368;
            font-size: 20px;
          }
        }
      }
      .project-link {
        color: #2cac3d;
        text-decoration: underline !important;
      }
      .app-title {
        min-width: 110px;
        display: inline-block;
      }
      .test-device-list {
        span {
          margin-right: 15px;
          margin-top: 10px;
        }
      }
      .tester-issues-tab {
        .line-seprator {
          margin: 0 0 20px;
        }
        .issue-block {
          .issue-type {
            margin-bottom: 0px;
            font-size: 18px;
          }
          .form-group {
            .form-control {
              margin-bottom: 20px;
            }
            .remove-icon {
              color: #606368;
              i {
                font-size: 34px;
              }
            }
          }
        }
      }
      .tester-attachment-tab {
        .add-files-btn {
          width: 160px;
          float: right;
          margin-top: 0;
          margin-bottom: 20px;
          input {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .attachment-table-wrap {
          .attachment-table {
            border-radius: 6px;
            margin-bottom: 0;
            tr {
              td {
                &:first-child {
                  min-width: 60px;
                  max-width: 60px;
                  width: 60px;
                  text-align: center;
                }
                &:last-child {
                  min-width: 130px;
                  max-width: 130px;
                  width: 130px;
                  display: table-cell;
                }
                &:nth-child(3) {
                  min-width: 160px;
                  max-width: 160px;
                  width: 160px;
                  display: table-cell;
                  text-align: center;
                }
                a {
                  margin-right: 10px;
                  color: #1f1f1f;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .tester-rating-tab {
        .total-score-txt {
          font-size: 20px;
          font-family: $font-family-UniNeue-bold;
          color: #363e48;
          text-align: center;
          width: 100%;
          margin-bottom: 15px;
          .effective-badge {
            font-family: $font-family-brandon-regular;
            color: #fff;
            font-size: 12px;
            background-color: #4be05e;
            border: 1px solid #2cac3d;
            border-radius: 16px;
            padding: 1px 8px;
            vertical-align: middle;
            margin-bottom: 5px;
            display: inline-block;
          }
        }
        .custom-accordion {
          border: none;
          &:hover {
            box-shadow: none;
          }
          .card-header {
            padding: 0 !important;
            border-bottom: none;
            &:hover {
              outline: none !important;
            }
            a.collapsed {
              border: 2px solid #118921;
              background-color: #2cac3d;
              color: #fff;
              border-radius: 6px;
              &:before {
                background-image: url("~img/right-arrow.png");
              }
              span {
                color: #fff;
              }
              img {
                display: inline-block;
                vertical-align: initial;
              }
            }
            a {
              padding: 10px 20px !important;
              padding-left: 35px !important;
              border-radius: 0px;
              border-top-right-radius: 6px;
              border-top-left-radius: 6px;
              text-align: left;
              color: #2cac3d;
              font-family: $font-family-UniNeue-heavy;
              font-size: 16px;
              text-align: left;
              text-transform: uppercase;
              background-color: #f2f2f2;
              // border: 1px solid #dadada;
              // border-bottom: none;
              border: none !important;
              &:before {
                background-image: url("~img/down-arrow.png");
                content: "";
                position: absolute;
                left: 15px;
                top: 15px;
                height: 14px;
                width: 14px;
                background-size: 100%;
                background-position: center;
              }
              span {
                float: right;
                font-family: $font-family-brandon-bold;
                font-size: 16px;
                text-transform: none;
                color: #2f2f2f;
              }
            }
          }
          .card-body {
            padding: 0 10px 10px;
            background-color: #f2f2f2;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            .detail-block-wrap {
              background-color: #fff;
              border: 1px solid #dadada;
              padding: 15px;
              border-radius: 6px;
              h4 {
                font-size: 18px;
                color: #2cac3d;
                font-family: $font-family-brandon-bold;
              }
              .detail-block {
                font-family: $font-family-brandon-medium;
                font-size: 14px;
                line-height: 16px;
                span {
                  width: calc(100% / 3 - 5px);
                  display: inline-block;
                  vertical-align: top;
                }
              }
              .explanation-wrap {
                textarea {
                  resize: none;
                  padding: 0px 10px;
                  font-size: 17px;
                  color: #9c9c9c;
                  &:hover,
                  &:focus {
                    outline: none !important;
                  }
                }
              }
              .ratings-block {
                margin-top: 10px;
                img {
                  width: 100%;
                }
              }
              .green-step-btn-wrap {
                .green-step-btn {
                  margin: 0;
                  margin-top: 30px;
                  font-size: 12px;
                  line-height: 14px;
                  text-transform: uppercase;
                  padding: 4px 8px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  .green-step-btn {
    width: 100%;
    max-width: 180px;
    padding: 7px 10px;
    border: 2px solid #118921;
    background-color: #2cac3d;
    font-size: 14px;
    font-family: $font-family-brandon-medium;
    letter-spacing: 0.05rem;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin: 10px 15px 30px 0px;
    &:hover {
      background-color: #158f25;
      color: #fff;
      outline: none !important;
    }
  }
}
@media screen and(max-width:1281px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        font-size: 16px;
      }
      .green-step-btn {
        font-size: 13px;
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container {
    .test-proj-fillup-page {
      .green-step-btn {
        font-size: 12px;
        letter-spacing: 0;
      }
      .white-box {
        font-size: 14px;
        .block-title {
          font-size: 18px;
          .badge-wrap {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and(max-width:991px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        padding: 15px;
        .block-title {
          .badge-wrap {
            right: 0;
          }
        }
      }
    }
  }
}
@media screen and(max-width:767px) {
  .custom-container {
    .test-proj-fillup-page {
      .status-bar {
        font-size: 14px;
      }
      .green-step-btn {
        margin: 10px 15px 10px 0;
        max-width: 175px;
      }
      .white-box {
        .block-title {
          .badge-wrap {
            right: 0;
            top: -3px;
          }
        }
        .proj-status {
          br {
            display: block;
          }
        }
        .notes-list {
          margin-bottom: 15px;
        }
        .proj-status.active {
          span {
            display: block !important;
          }
        }
        .tester-rating-tab {
          .custom-accordion {
            .card-header {
              a {
                font-size: 16px;
                padding: 10px !important;
                padding-left: 30px !important;
                &::before {
                  top: 15px;
                  left: 10px;
                }
                span {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .tester-issues-tab {
          .issue-block {
            .issue-type {
              font-size: 16px;
            }
            .form-group {
              .remove-icon {
                margin-top: 3px;
                display: block;
                i {
                  font-size: 24px;
                }
              }
            }
          }
        }
        .tester-attachment-tab {
          .add-files-btn {
            float: left;
            max-width: 100px;
            padding: 2px;
          }
          .attachment-table-wrap {
            .attachment-table {
              border-radius: 6px;
              tr {
                td {
                  &:nth-child(2) {
                    min-width: 320px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width:575px) {
  .custom-container {
    .step-page-title {
      font-size: 26px;
    }
    .test-proj-fillup-page {
      .white-box {
        font-size: 14px;
        line-height: 18px;
        .block-title.proj-name-wrap {
          padding-bottom: 40px;
          .proj-name {
            display: block;
            width: 100%;
            font-size: 20px;
          }
          .badge-wrap {
            position: relative;
            float: left;
            margin-left: -15px;
            margin-top: 15px;
            font-size: 13px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
          }
        }
        .proj-status {
          &:first-child {
            .proj-progress {
              &::before {
                width: calc(50% - 25px);
              }
            }
          }
          &:last-child {
            .proj-progress {
              &::after {
                width: calc(50% - 25px);
              }
            }
          }
        }
        .proj-status.active {
          .proj-progress {
            i {
              font-size: 28px;
              &::after {
                height: 13px;
                width: 13px;
                left: 5px;
                top: 5px;
              }
            }
          }
        }
        .proj-status.done-step {
          .proj-progress {
            i {
              font-size: 28px;
              &::after {
                height: 13px;
                width: 13px;
                left: 5px;
                top: 5px;
              }
            }
          }
        }
        .tester-rating-tab {
          .total-score-txt {
            font-size: 18px;
            margin-bottom: 20px;
          }
          .custom-accordion {
            .card-header {
              a {
                font-size: 14px;
                padding: 5px 10px !important;
                padding-left: 30px !important;
                &::before {
                  top: 9px;
                  left: 10px;
                }
                span {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .green-step-btn {
      margin: 10px 15px 10px 0;
    }
  }
}
@media screen and(max-width:360px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        .tester-rating-tab {
          .total-score-txt {
            font-size: 14px;
            margin-bottom: 15px;
          }
          .custom-accordion {
            .card-header {
              a {
                font-size: 13px;
                padding-left: 20px !important;
                &::before {
                  top: 10px;
                  left: 6px;
                  height: 10px;
                  width: 10px;
                }
                span {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>