<template>
  <div class="bg-color">
    <div class="container custom-container">
      <div class="row">
        <div class="projects-page">
          <div class="row">
            <div class="col-12">
              <h2 class="page-title">Projects</h2>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <div class="tester-projects-tabwrap">
                  <b-tabs>
                    <b-tab title="Active (1)" class="active-tab" active>
                    </b-tab>
                    <b-tab title="Open (26)">
                    </b-tab>
                    <b-tab title="Completed (3)">
                    </b-tab>
                    <b-tab title="Under Review (2)">
                    </b-tab>
                  </b-tabs>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination custom-pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">
                          <img src="~img/pagination-prev.png" class="ing-fluid"/>
                        </span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">
                          <img src="~img/pagination-next.png" class="ing-fluid"/>
                        </span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vue from "vue";

export default {
  name: "projects",
  components: {
    
  },
};
</script>

<style lang="scss" scoped>
  @import "../../layouts/css/_customvariables";
   .text-green{
      color: #2cac3d;
    }
    .text-red{
      color: #e63423;
    }
    .text-bold{
      font-family: $font-family-brandon-bold !important;
    }
    .text-medium{
      font-family: $font-family-brandon-medium;
    }
    .projects-page{
      width: 100%;
    }
    .custom-container{
      max-width: 100%;
    }
    .page-title {
      font-family: $font-family-UniNeue-bold;
      font-size: 30px;
      width: 100%;
      text-align: center;
      color: #363e48;
      margin: 5px 0 25px;
    }
    .custom-pagination{
      max-width: 300px;
      margin: 0 auto;
      li{
        margin-right: 3px;
        .page-link{
          padding: 10px 15px;
          font-size: 16px;
          color: #606368;
          font-family: $font-family-brandon-bold !important;
        }
        &:first-child{
          .page-link{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            line-height: 20px;
          }
        }
        &:last-child{
          .page-link{
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            line-height: 20px;
          }
        }
      }
    }
  .white-box{
    background-color: #fff;
    box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #606368;
  }
  .green-step-btn{
    width: 100%;
    max-width: 180px;
    padding: 7px 10px;
    border:2px solid #118921;
    background-color: #2cac3d;
    font-size: 14px;
    font-family: $font-family-brandon-medium;
    letter-spacing: 0.05rem;
    color: #fff;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin: 10px 15px 30px 0px;
    &:hover{
      background-color: #158f25;
      color: #fff;
      outline: none !important;
    }
  }
  @media screen and(max-width:1281px) {
    .custom-container{
      .projects-page{
        .white-box{
          font-size: 14px;
        }
        .green-step-btn{
          font-size: 13px;
        }
      }
    }
  }
  @media screen and(max-width:1200px) {
    .custom-container{
      .page-title {
        font-size: 28px;
        margin: 0 0 20px;
      }
      .projects-page{
        .green-step-btn{
          font-size: 12px;
          letter-spacing: 0;
        }
        .white-box{
          font-size: 14px;
        }
      }
    }
  }
  @media screen and(max-width:991px) {
    .custom-container{
      .projects-page{
        .white-box{
          padding: 15px;
        }
      }
    }
  }
  @media screen and(max-width:767px) {
    .custom-container{
        .projects-page{
          .green-step-btn{
            margin: 10px 15px 10px 0;
            max-width: 175px;
          }
          .white-box{
          }
        }
      }
  }
  @media screen and(max-width:575px) {
    .custom-container{
      .page-title {
        font-size: 26px;
      }
      .projects-page{
        .white-box{
          font-size: 14px;
          line-height: 18px;
        }
      }
      .green-step-btn{
        margin: 10px 15px 10px 0;
      }
      .custom-pagination{
        max-width: 235px;
          li{
            .page-link{
              padding: 5px 10px;
            }
          }
      }
    }
  }
  @media screen and(max-width:360px) {
    .custom-container{
      .projects-page{
        .white-box{
        }
      }
    }
  }

</style>