<template>
  <div class="bg-color">
    <div class="container custom-container">
      <div class="row">
        <div class="test-proj-fillup-page">
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="block-title border-bottom-0">
                  Project Status
                </h4>
              </div>
              <div class="col-12">
                <Steps :steps="steps" :active="get_project_current_stage" projectTypeClass="test-project"></Steps>
              </div>
            </div>
          </div>
          
          <TestProjectDetails :testProject="testproject" :currentTestStatus="currentTestStatus"> </TestProjectDetails>

          <div class="white-box" v-if="isSubmitted">
            <div class="row">
              <div class="col-12">
                <project-testing-process-review></project-testing-process-review>
              </div>
            </div>
          </div>


          <div class="col-12 text-center">
            <router-link tag="a" :to="{name: 'tester.dashboard'}" class="btn text-uppercase green-step-btn"> Back To Dashboard</router-link>
            
            <!-- <a v-if="isSubmitted" :disabled="true" class="btn text-uppercase green-step-btn">Submitted</a> -->
            <router-link v-if="isAccpeted && !isSubmitted " tag="a" :to="{name: 'tester.project-submission', params:{id: $route.params.id}}" class="btn text-uppercase green-step-btn">Continue working </router-link>
            <a v-else-if="!isAccpeted && !isSubmitted && !isUnderReview" @click="acceptProject" class="btn text-uppercase green-step-btn">start working / accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import ProjectStatusTestProject from "components/components/tester/project-status-test-project";
import Steps from "components/components/publisher/steps";
import TestProjectDetails from "components/components/tester/test-project-details";
import ProjectTestingProcessReview from "components/components/project-testing-process-review";
import { testProjectStatusWeight } from "src/services/test-project";
export default {
  name: "view_project",
  components: {
    ProjectStatusTestProject,
    TestProjectDetails,
    Steps,
    ProjectTestingProcessReview
  },
  data() {
    return {
      testproject: {},
      user: {},
      projectTester: {},
      isAccpeted: 0,
      isSubmitted: 0,
      isUnderReview: 0,
      steps: [
        { id: 1, name: 'New'},
        { id: 2, name: 'Accepted/Working'},
        { id: 3, name: 'Submitted'},
        { id: 4, name: 'Under Review'},
        { id: 5, name: 'Completed'},
      ]
    };
  },
  computed: {
    currentTestStatus() {
      if (this.projectTester && this.projectTester.latest_status_data) {
        if (this.projectTester.latest_status.toLowerCase() === "submitted") {
          return `In Review, Submitted: ${moment(
            this.projectTester.latest_status_data.updated_at
          ).format("DD MMM, YYYY HH:mm A")}`;
        }
        return this.projectTester.latest_status;
      }
      // @TODO when user is not associated with test project this should be status of project itself.
      return "New";
    },
    get_project_current_stage(){
      if(this.projectTester && this.projectTester.latest_status ){
        return testProjectStatusWeight(this.projectTester.latest_status);
      }
      else{
        return 1;
      }
    }
  },
  mounted: function() {
    axios
      .get(`/api/tester/user/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.projectTester = data;
        this.isUnderReview = this.projectTester.all_status.includes("Review");
        this.isSubmitted = this.projectTester.all_status.includes("Submitted");
        if (!this.isSubmitted) {
          this.isAccpeted = this.projectTester.all_status.includes("Accepted");
        }
      })
      .catch(function(error) {});
    axios
      .get(`/api/projects/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.testproject = data;
        this.testproject.selected_devices = data.devices.map(({ id }) => id);
      })
      .catch(function(error) {});
  },
  methods: {
    acceptProject: function() {
      axios
        .post(`/api/tester/update-test-status/${this.$route.params.id}`, {
          test_status: "ACCEPTED"
        })
        .then(response => {
          if (response.data.success) {
            this.$router.push({ name: "tester.project-submission" });
          }
        })
        .catch(function(error) {});
    },
    submitProject: function() {
      axios
        .post(`/api/tester/update-test-status/${this.$route.params.id}`, {
          test_status: "ACCEPTED"
        })
        .then(response => {
          if (response.data.success) {
            this.$router.push({ name: "tester.project-submission" });
          }
        })
        .catch(function(error) {});
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";

.custom-container{
  max-width: 100%;
  .text-green{
    color: #2cac3d;
  }
  .text-red{
    color: #e63423;
  }
  .text-bold{
    font-family: $font-family-brandon-bold !important;
  }
  .text-medium{
    font-family: $font-family-brandon-medium;
  }
  .test-proj-fillup-page{
    width: 100%;
    .white-box{
      background-color: #fff;
      box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0;
      color: #606368;
      .block-title{
        font-size: 18px;
        font-family: $font-family-UniNeue-bold;
        border-bottom: 1px solid #dadada;
        color: #606368;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: auto;
      }
      .proj-status{
        padding: 0;
        padding-top: 8px;
        overflow: hidden;
        width: calc(100% / 5);
        &:first-child{
          .proj-progress{
            &::before{
              width: calc(50% - 30px);
              left: 15px;
            }
          }
        }
        &:last-child{
          .proj-progress{
            &::after{
              width: calc(50% - 30px);
              right: 15px;
            }
          }
        }
        .proj-progress{
          position: relative;
          margin-bottom: 5px;
          i{
            color:rgba(175, 177, 179, 0.5);
            font-size: 22px;
            line-height: 24px;
          }
          &::before{
            content: "";
            position: absolute;
            height: 3px;
            width:calc(50% - 5px);
            background-color: #ececec;
            left: -10px;
            top: 11px;
          }
          &::after{
            content: "";
            position: absolute;
            height: 3px;
            width: calc(50% - 5px);
            background-color: #ececec;
            right: -10px;
            top: 11px;
          }
        }
      }
      .proj-status.active{
        color: #2cac3d;
        .proj-progress{
          i{
            color: #2cac3d;
            font-size: 34px;
            line-height: 24px;
            position: relative;
            &::after{
              height: 15px;
              width: 15px;
              background-color: #2cac3d;
              content: "";
              border-radius:50%;
              position: absolute;
              left: 7px;
              top: 4px;
            }
          }
          &::before{
            background-color: #2cac3d;
          }
        }
      }
      .proj-status.done-step{
        color: #2cac3d;
        .proj-progress{
          i{
            color: #2cac3d;
            font-size: 34px;
            line-height: 24px;
            position: relative;
            &::after{
              height: 15px;
              width: 15px;
              background-color: #2cac3d;
              content: "";
              border-radius:50%;
              position: absolute;
              left: 7px;
              top: 4px;
            }
          }
          &::before{
            background-color: #2cac3d;
          }
          &::after{
            background-color: #2cac3d;
          }
        }
      }
    }
    .green-step-btn{
      width: 100%;
      max-width: 240px;
      padding: 7px 10px;
      border:2px solid #118921;
      background-color: #2cac3d;
      font-size: 14px;
      font-family: $font-family-brandon-medium;
      letter-spacing: 0.05rem;
      color: #fff;
      border-radius: 20px;
      display: inline-block;
      text-align: center;
      margin: 10px 15px 30px 0px;
      &:hover{
        background-color: #158f25;
      }
    }
  }
}
@media screen and(max-width:1281px) {
  .custom-container{
    .test-proj-fillup-page{
      .green-step-btn{
        font-size: 13px;
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container{
    .test-proj-fillup-page{
      .green-step-btn{
        font-size: 12px;
        letter-spacing: 0;
      }
      .white-box{
        .block-title{
          .badge-wrap{
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and(max-width:991px) {
  .custom-container{
    .test-proj-fillup-page{
      .white-box{
        padding: 15px;
        .block-title{
          .badge-wrap{
            right: 0;
          }
        }
      }
      .green-step-btn{
        max-width: 180px;
      }
    }
  }
}
@media screen and(max-width:767px) {
 .custom-container{
    .test-proj-fillup-page{
      .status-bar{
        font-size: 14px;
      }
      .green-step-btn{
        margin: 10px 15px 10px 0;
        max-width: 175px;
      }
      .white-box{
        .block-title{
          font-size: 16px;
          margin: 0;
          padding: 0;
        }
        .proj-status.active{
          span{
            display: block !important;
          }
        }
      }
    }
 }
}
@media screen and(max-width:575px) {
  .custom-container{
    .step-page-title{
      font-size: 26px;
    }
    .test-proj-fillup-page{
      .white-box{
        line-height: 18px;
        }
        .proj-status{
          &:first-child{
            .proj-progress{
              &::before{
                width: calc(50% - 25px);
              }
            }
          }
          &:last-child{
            .proj-progress{
              &::after{
                width: calc(50% - 25px);
              }
            }
          }
        }
        .proj-status.active{
          .proj-progress{
            i{
              font-size:28px;
              &::after{
                height: 13px;
                width: 13px;
                left: 6px;
                top: 5px;
              }
            }
          }
        }
      }
  }
}

</style>