<template>
  <div class="bg-color">
    <div class="container custom-container">
      <div class="row">
        <h1 class="step-page-title">
          Step 2 - Submission Process
        </h1>

        <div class="tester-profile-page">
          <div class="white-box">
            <h4 class="block-title">
              How to Accept and Submit Project Review
            </h4>
            <div class="detail-form">
              <div class="row">
                <div class="col-12">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/xcJtL7QggTI" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a @click="goToDashboard" class="btn text-uppercase text-center green-step-btn" >go to dashboard</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "step-2",
  methods: {
    goToDashboard(){
      const requestData = {
        'status': 'Step_2',
        'email': this.$store.state.user.email
      }
      axios.put(`/api/tester/${this.$store.state.user.id}`, requestData)
        .then(response => {
          this.$router.push({ name: "tester.dashboard" });
        })
        .catch(error => (this.errors = error.response.data.message ));
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";
.vue-js-switch {
  float: right;
}
.user_image {
  font-size: 10px;
}
.input {
  width: 100% !important;
}
.custom-county-block {
  width: 30%;
}
.custom-container {
  max-width: 100%;
  .step-page-title {
    font-family: $font-family-UniNeue-bold;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #363e48;
    margin: 5px 0 25px;
  }
  .tester-profile-page {
    width: 100%;
    .other-input {
      min-width: 150px;
    }
    .toggle-btn-group {
      width: calc(100% - 115px);
    }
    .white-box {
      background-color: #fff;
      box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 17px;
      color: #606368;
      textarea {
        font-size: 15px;
        resize: none;
      }
      .block-title {
        font-size: 20px;
        font-family: $font-family-UniNeue-bold;
        border-bottom: 1px solid #dadada;
        color: #2cac3d;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .img-wrap {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 3px solid #1f8e28;
        background-color: #f0f5f9;
        vertical-align: middle;
        margin-right: 15px;
        padding: 18px 25px;
        position: relative;
        h2 {
          font-size: 14px;
          vertical-align: middle;
          margin-top: 25px;
          text-align: center;
        }
        .choose-img-btn {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          cursor: pointer;
        }
      }
      .content-wrap {
        vertical-align: middle;
        .username {
          font-family: $font-family-UniNeue-regular;
          font-size: 25px;
          color: #363e48;
          margin-bottom: 0px;
        }
        .usermail {
          font-size: 15px;
          color: #73767b;
          font-family: $font-family-brandon-regular;
          margin-bottom: 0;
        }
      }
      .user-profile-form {
        padding-top: 25px;
        float: right;
        .form-group {
          min-width: 120px;
          margin-right: 20px;
          vertical-align: top;
          &:last-child {
            margin-right: 0;
          }
          .form-control {
            &:hover,
            &:focus {
              outline: none !important;
            }
          }
          label {
            display: block;
          }
          .form-check {
            display: inline-block;
            margin-right: 15px;
            .form-check-input {
              margin-left: 0;
            }
            .form-check-label {
              padding-left: 20px;
            }
          }
        }
      }
      .detail-form {
        width: 100%;
        span {
          max-width: 210px;
          vertical-align: middle;
          font-size: 16px;
          color: #606368;
          line-height: 20px;
        }
        .form-control {
          width: calc(100% - 90px);
          float: right;
          margin-top: 5px;
          &:hover {
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .toggle-btn-group {
          display: inline-block;
          vertical-align: inherit;
          margin-top: 5px;
          margin-bottom: 0;
        }
      }
      .device-name {
        font-size: 17px;
        color: #606368;
        min-width: 110px;
        vertical-align: middle;
        display: inline-block;
      }
      .toggle-btn-group {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
        margin-top: 10px;
        .green-btn {
          background-color: #2cac3d;
          font-size: 17px;
          font-family: $font-family-brandon-medium;
          letter-spacing: 0.05rem;
          color: #fff;
          border-radius: 4px;
          padding: 0px 10px;
          &:hover {
            background-color: #158f25;
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .white-btn {
          background-color: #fff;
          border: 1px solid #e4e4e4;
          font-size: 17px;
          font-family: $font-family-brandon-regular;
          letter-spacing: 0.05rem;
          color: #606368;
          border-radius: 4px;
          padding: 0px 10px;
          margin-left: 5px;
          &:hover {
            background-color: #e4e4e4;
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .form-control {
          vertical-align: middle;
          &:hover,
          &:focus {
            outline: none !important;
          }
        }
      }
      .policy-text {
        margin-bottom: 5px;
        a {
          color: #2cac3d;
          font-family: $font-family-brandon-bold;
          font-size: 17px;
          text-decoration: underline !important;
        }
      }
      .agree-text {
        font-size: 15px;
        color: #ff0000;
      }
    }
    .green-step-btn {
      width: 100%;
      max-width: 260px;
      padding: 7px 10px;
      border: 2px solid #118921;
      background-color: #2cac3d;
      font-size: 14px;
      font-family: $font-family-brandon-medium;
      letter-spacing: 0.05rem;
      color: #fff;
      margin: 15px auto;
      border-radius: 20px;
      display: block;
      &:hover {
        background-color: #158f25;
      }
    }
  }
}
@media screen and(max-width:1281px) {
  .custom-container {
    .tester-profile-page {
      .white-box {
        font-size: 16px;
        textarea {
          font-size: 14px;
        }
        .img-wrap {
          height: 100px;
          width: 100px;
          padding: 15px 20px;
          margin-right: 10px;
        }
        .content-wrap {
          .username {
            font-size: 22px;
          }
        }
        .detail-form {
          span {
            max-width: 160px;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .device-name {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container {
    .step-page-title {
      font-size: 28px;
      margin: 0 0 20px;
    }
    .tester-profile-page {
      .white-box {
        font-size: 15px;
        .block-title {
          font-size: 18px;
        }
        .user-profile-form {
          padding-top: 20px;
          float: left;
          .form-group {
            .form-check {
              margin-right: 0;
            }
          }
        }
        .img-wrap {
          height: 80px;
          width: 80px;
          padding: 10px 15px;
        }
        .detail-form {
          .form-control {
            float: left;
          }
          span {
            min-height: 55px;
          }
        }
        .device-name {
          min-width: 85px;
          font-size: 15px;
        }
        .toggle-btn-group {
          display: block;
          .green-btn {
            font-size: 15px;
          }
          .white-btn {
            font-size: 15px;
          }
          .form-control {
            max-width: 100px;
          }
        }
        .policy-text {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and(max-width:991px) {
  .custom-container {
    .tester-profile-page {
      .white-box {
        padding: 15px;
        .detail-form {
          .form-control {
            max-width: 120px;
            float: none;
            margin-bottom: 15px;
            margin-left: 15px;
          }
          span {
            min-height: auto;
            max-width: 100%;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:575px) {
  .custom-container {
    .step-page-title {
      font-size: 26px;
    }
    .tester-profile-page {
      .white-box {
        font-size: 14px;
        line-height: 18px;
        .img-wrap {
          margin-bottom: 10px;
        }
        .detail-form {
          .toggle-btn-group {
            margin-bottom: 15px;
          }
        }
        .user-profile-form {
          width: 100%;
          .form-group {
            min-width: 100%;
            margin-right: 0;
          }
        }
        .policy-text {
          font-size: 14px;
        }
        .agree-text {
          font-size: 13px;
        }
      }
    }
  }
}
</style>