<template>
  <div>
  <policy v-if="showNda" @done="hideNDA"></policy>
  <div class="bg-color" v-else>
    <div class="container custom-container">
      <div class="row">
        <h1 class="step-page-title">
          Step 1 - Profile
        </h1>
        <vue-form :state="formstate" @submit.prevent="onSubmit" enctype="multipart/form-data">
          <div class="tester-profile-page">
              <div class="white-box">
                <div class="row">
                  <div class="col-xl-5 col-12">
                    <div class="img-wrap d-block d-sm-inline-block">
                    <!-- <div v-if="!image"> -->
                      <!-- <h2 class="">Select an image</h2> -->
                      <input type="file" v-on:change="onFileChange" class="form-control choose-img-btn">
                    <!-- </div> -->
                      <img :src="previewUrl ? previewUrl : model.profile" class="img-fluid" />
                    </div>
                    <div class="content-wrap d-block d-sm-inline-block">
                      <h4 class="username">{{ model.first_name }} {{ model.last_name }}</h4>
                      <p class="usermail">{{ model.email }}</p>
                    </div>
                  </div>
                  <div class="col-xl-7 col-12">
                    <div class="user-profile-form">
                        <div class="form-group d-inline-block custom-county-block">
                          <label>Country</label>
                          <select v-model="model.country_id" class="form-control">
                            <option v-for="country in aCountries" :value="country.id">{{ country.name }} </option>
                          </select>
                        </div>
                        <div class="form-group d-inline-block">
                          <label>Gender</label>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" v-model="model.gender" name="exampleRadios" id="male" value="Male" :checked="model.gender == 'Male'">
                            <label class="form-check-label" for="male">
                              Male
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" v-model="model.gender" name="exampleRadios" id="female" value="Female" :checked="model.gender == 'Female'" >
                            <label class="form-check-label" for="female">
                              Female
                            </label>
                          </div>
                        </div>
                        <div class="form-group d-inline-block">
                          <label>Birthdate</label>
                          <datepicker initial-view="year" input-class="form-control" :format="'dd MMM yyyy'" v-model="model.date_of_birth" name="dob" required></datepicker>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="white-box">
                <h4 class="block-title">
                  Basic Information
                </h4>
                  <div class="detail-form">
                    <div class="row">
                      <div class="col-lg-3 col-12">
                        <span class="d-inline-block d-lg-block d-xl-inline-block">
                          Cell <br> Number :
                        </span>
                        <input type="text" v-model="model.mobile_no" class="form-control d-inline-block d-lg-block d-xl-inline-block" placeholder="">
                      </div>
                      <!-- <div class="col-lg-5 col-sm-6 col-12">
                        <span class="d-block d-xl-inline-block"> Text me if projects matching my device open:
                        </span>
                        <div class="toggle-btn-group">
                          <a href="#" class="btn green-btn">Yes</a>
                          <a href="#" class="btn white-btn">No</a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 col-12">
                        <span class="d-block d-xl-inline-block"> Text me if projects matching my device open:</span>
                        <div class="toggle-btn-group">
                          <a href="#" class="btn green-btn">Yes</a>
                          <a href="#" class="btn white-btn">No</a>
                        </div>
                      </div> -->
                    </div>
                  </div>
              </div>
              <div class="white-box pb-3">
                <h4 class="block-title">
                  Devices you have to test on
                </h4>
                <div class="row">
                  <div class="col-sm-4 col-6" v-for="(device, index) in aDevices">
                    <span class="device-name" color="#2cac3d" >
                      {{ index + 1 }}. {{ device.name }}
                    </span>
                    <toggle-button color="#2cac3d" :sync="true" :name="device.id" v-model="device_map[device.id]" />
                  </div>

                  <div class="col-sm-4 col-6">
                    <span class="device-name">
                      Others
                    </span>
                    <div class="toggle-btn-group other-group">
                        <tags-input class="form-control" :tags="additional_devices" @tags-change="handleChange"></tags-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="white-box">
                <h4 class="block-title">
                  Other Information
                </h4>
                <p>Any other background Information you would like to share?</p>
                <textarea class="form-control" rows="3" placeholder="Your Background Information" v-model="model.additional_information" name="additional_information" >{{ model.additional_information }}</textarea>
              </div>
              <div class="white-box pb-2">
                <validate tag="div">
                  <h4 class="block-title">
                    Our NDA Policy
                  </h4>
                  <p class="policy-text">Read and agree to our NDA policy.</p>
                  <a href="javascript:;" @click="showNDA">View Policy</a>
                  <input type="hidden" name="policy_agree" v-model="model.policy_agree" required />
                  <field-messages name="policy_agree" show="$invalid && $submitted" class="text-danger">
                    <div slot="required">You must read and agree to the NDA policy to continue</div>
                  </field-messages>
                </validate>
              </div>

              <button type="submit" class="btn text-uppercase text-center green-step-btn">submit and go to next step</button>
          </div>
        </vue-form>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import Vue from "vue";
import VueForm from "vue-form";
import options from "src/validations/validations.js";
import { hasClearedStep1 } from "src/services/tester";
import ToggleButton from "vue-js-toggle-button";
import Policy from "pages/tester/nda-policy";
Vue.use(VueForm, options);
export default {
  name: "tester-profile",
  data() {
    return {
      showNda: false,
      formstate: {},
      model: {},
      aDevices: {},
      aCountries: {},
      additional_devices: [],
      device_map: {},
      policy_agree: false,
      previewUrl: "/images/device_no_icon.png"
    };
  },
  mounted: function() {
    axios
      .get("/api/devices")
      .then(response => {
        this.aDevices = response.data;
        this.aDevices.forEach(d => (this.device_map[d.id] = false));
        return axios.get(`/api/tester/${this.$store.state.user.id}`);
      })
      .then(({ data: { data } }) => this.assignData(data))
      .catch(function(error) {});

    axios
      .get("/api/getCountries")
      .then(response => {
        this.aCountries = response.data;
      })
      .catch(function(error) {});
  },
  methods: {
    showNDA() {
      this.showNda = true;
    },
    hideNDA() {
      if (localStorage.getItem("nda-agree")) {
        this.model.policy_agree =
          localStorage.getItem("nda-agree") == "1" ? true : false;
        localStorage.removeItem("nda-agree");
      }
      this.showNda = false;
    },
    assignData(data) {
      this.model = { ...this.model, ...data };
      // this.model.gender =  this.model.gender ? this.model.gender.toLowerCase() : '';
      this.previewUrl = data.profile;
      if (this.model.country_id == null) {
        this.model.country_id = 231; // 'United states' will be selected as default
      }
      data.devices.forEach(d => (this.device_map[d.id] = true));
      if (hasClearedStep1(data.status.name)) {
        this.model.policy_agree = true;
      }
    },
    /** Start - user image  */
    onFileChange(e) {
      const file = e.target.files[0];
      const ext = file.name.split(".").pop();
      if (["jpg", "jpeg", "png"].indexOf(ext) === -1) {
        return this.$swal(
          "Error",
          "Only jpg, jpeg, png images are allowed",
          "error"
        );
      }
      this.iconFile = file;
      var reader = new FileReader();
      reader.onload = e => (this.previewUrl = e.target.result);
      reader.readAsDataURL(file);
      const formData = new FormData();
      formData.append("profile", file);
      formData.append("_method", "PUT");
      formData.append("email", this.model.email);
      axios
        .post("/api/tester/" + this.model.id, formData)
        .then(({ data: { data } }) => {
          this.assignData(data);
          this.$store.commit("set_user", data);
        })
        .catch(error => (this.error = error));
    },
    onSubmit: function() {
      if (this.formstate.$invalid) {
        return;
      } else {
        let p;
        this.errors = null;
        if (!this.model.policy_agree) {
          return this.$swal(
            "Error",
            "Please read and agree to the policy",
            "error"
          );
        }
        if (this.model.id) {
          this.model.additional_devices = this.additional_devices;
          const devices = [];
          Object.keys(this.device_map).forEach(id => {
            if (this.device_map[id]) {
              devices.push(parseInt(id));
            }
          });
          this.model.image = this.image;
          const requestData = { ...this.model, devices };
          if (
            requestData.date_of_birth &&
            typeof requestData.date_of_birth !== "string"
          ) {
            requestData.date_of_birth = requestData.date_of_birth.toMysql();
          }
          requestData.status = "Step_1";
          p = axios.put(`/api/tester/${this.model.id}`, requestData);
          p
            .then(response => {
              this.$store.commit("set_user", response.data.data);
              this.$router.push({ name: "tester.step2" });
            })
            .catch(error => (this.errors = error.response.data.message));
        }
      }
    },
    handleChange: function(index, text) {
      if (text) {
        this.additional_devices.splice(index, 0, text);
      } else {
        this.additional_devices.splice(index, 1);
      }
    }
  },
  components: {
    "tags-input": require("vue-tagsinput/src/input.vue"),
    Policy
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";
.vue-js-switch {
  float: right;
}
.user_image {
  font-size: 10px;
}
.input {
  width: 100% !important;
}
.custom-county-block {
  width: 30%;
}
.custom-container {
  max-width: 100%;
  .step-page-title {
    font-family: $font-family-UniNeue-bold;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #363e48;
    margin: 5px 0 25px;
  }
  .tester-profile-page {
    width: 100%;
    .other-input {
      min-width: 150px;
    }
    .toggle-btn-group {
      width: calc(100% - 115px);
    }
    .white-box {
      background-color: #fff;
      box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 17px;
      color: #606368;
      textarea {
        font-size: 15px;
        resize: none;
      }
      .block-title {
        font-size: 20px;
        font-family: $font-family-UniNeue-bold;
        border-bottom: 1px solid #dadada;
        color: #2cac3d;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      .img-wrap {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border: 3px solid #1f8e28;
        background-color: #f0f5f9;
        vertical-align: middle;
        margin-right: 15px;
        padding: 18px 25px;
        position: relative;
        h2 {
          font-size: 14px;
          vertical-align: middle;
          margin-top: 25px;
          text-align: center;
        }
        .choose-img-btn {
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          cursor: pointer;
        }
      }
      .content-wrap {
        vertical-align: middle;
        .username {
          font-family: $font-family-UniNeue-regular;
          font-size: 25px;
          color: #363e48;
          margin-bottom: 0px;
        }
        .usermail {
          font-size: 15px;
          color: #73767b;
          font-family: $font-family-brandon-regular;
          margin-bottom: 0;
        }
      }
      .user-profile-form {
        padding-top: 25px;
        float: right;
        .form-group {
          min-width: 120px;
          margin-right: 20px;
          vertical-align: top;
          &:last-child {
            margin-right: 0;
          }
          .form-control {
            &:hover,
            &:focus {
              outline: none !important;
            }
          }
          label {
            display: block;
          }
          .form-check {
            display: inline-block;
            margin-right: 15px;
            .form-check-input {
              margin-left: 0;
            }
            .form-check-label {
              padding-left: 20px;
            }
          }
        }
      }
      .detail-form {
        width: 100%;
        span {
          max-width: 210px;
          vertical-align: middle;
          font-size: 16px;
          color: #606368;
          line-height: 20px;
        }
        .form-control {
          width: calc(100% - 90px);
          float: right;
          margin-top: 5px;
          &:hover {
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .toggle-btn-group {
          display: inline-block;
          vertical-align: inherit;
          margin-top: 5px;
          margin-bottom: 0;
        }
      }
      .device-name {
        font-size: 17px;
        color: #606368;
        min-width: 110px;
        vertical-align: middle;
        display: inline-block;
      }
      .toggle-btn-group {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
        margin-top: 10px;
        .green-btn {
          background-color: #2cac3d;
          font-size: 17px;
          font-family: $font-family-brandon-medium;
          letter-spacing: 0.05rem;
          color: #fff;
          border-radius: 4px;
          padding: 0px 10px;
          &:hover {
            background-color: #158f25;
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .white-btn {
          background-color: #fff;
          border: 1px solid #e4e4e4;
          font-size: 17px;
          font-family: $font-family-brandon-regular;
          letter-spacing: 0.05rem;
          color: #606368;
          border-radius: 4px;
          padding: 0px 10px;
          margin-left: 5px;
          &:hover {
            background-color: #e4e4e4;
            outline: none !important;
          }
          &:focus {
            outline: none !important;
          }
        }
        .form-control {
          vertical-align: middle;
          &:hover,
          &:focus {
            outline: none !important;
          }
        }
      }
      .policy-text {
        margin-bottom: 5px;
        a {
          color: #2cac3d;
          font-family: $font-family-brandon-bold;
          font-size: 17px;
          text-decoration: underline !important;
        }
      }
      .agree-text {
        font-size: 15px;
        color: #ff0000;
      }
    }
    .green-step-btn {
      width: 100%;
      max-width: 260px;
      padding: 7px 10px;
      border: 2px solid #118921;
      background-color: #2cac3d;
      font-size: 14px;
      font-family: $font-family-brandon-medium;
      letter-spacing: 0.05rem;
      color: #fff;
      margin: 15px auto;
      border-radius: 20px;
      display: block;
      &:hover {
        background-color: #158f25;
      }
    }
  }
}
@media screen and(max-width:1281px) {
  .custom-container {
    .tester-profile-page {
      .white-box {
        font-size: 16px;
        textarea {
          font-size: 14px;
        }
        .img-wrap {
          height: 100px;
          width: 100px;
          padding: 15px 20px;
          margin-right: 10px;
        }
        .content-wrap {
          .username {
            font-size: 22px;
          }
        }
        .detail-form {
          span {
            max-width: 160px;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .device-name {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container {
    .step-page-title {
      font-size: 28px;
      margin: 0 0 20px;
    }
    .tester-profile-page {
      .white-box {
        font-size: 15px;
        .block-title {
          font-size: 18px;
        }
        .user-profile-form {
          padding-top: 20px;
          float: left;
          .form-group {
            .form-check {
              margin-right: 0;
            }
          }
        }
        .img-wrap {
          height: 80px;
          width: 80px;
          padding: 10px 15px;
        }
        .detail-form {
          .form-control {
            float: left;
          }
          span {
            min-height: 55px;
          }
        }
        .device-name {
          min-width: 85px;
          font-size: 15px;
        }
        .toggle-btn-group {
          display: block;
          .green-btn {
            font-size: 15px;
          }
          .white-btn {
            font-size: 15px;
          }
          .form-control {
            max-width: 100px;
          }
        }
        .policy-text {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and(max-width:991px) {
  .custom-container {
    .tester-profile-page {
      .white-box {
        padding: 15px;
        .detail-form {
          .form-control {
            max-width: 120px;
            float: none;
            margin-bottom: 15px;
            margin-left: 15px;
          }
          span {
            min-height: auto;
            max-width: 100%;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:575px) {
  .custom-container {
    .step-page-title {
      font-size: 26px;
    }
    .tester-profile-page {
      .white-box {
        font-size: 14px;
        line-height: 18px;
        .img-wrap {
          margin-bottom: 10px;
        }
        .detail-form {
          .toggle-btn-group {
            margin-bottom: 15px;
          }
        }
        .user-profile-form {
          width: 100%;
          .form-group {
            min-width: 100%;
            margin-right: 0;
          }
        }
        .policy-text {
          font-size: 14px;
        }
        .agree-text {
          font-size: 13px;
        }
      }
    }
  }
}
</style>