<template>
    <div>
        <div class="bg-color">
            <div class="container custom-container">
                <div class="row">
                    <h1 class="step-page-title">
                        Devices
                    </h1>
                    <div class="tester-profile-page">
                        <div class="white-box pb-3">
                            <h4 class="block-title">
                                Devices you have to test on
                            </h4>
                            <div class="row">
                                <div class="col-6" v-for="(device, index) in aDevices">
                                    <span class="device-name" color="#2cac3d" >
                                      {{ device.name }}
                                    </span>
                                    <toggle-button color="#2cac3d" :sync="true" :name="device.id" v-model="device_map[device.id]" @change="handleChange(device.id)"/>
                                </div>
                            </div>
                            <div v-if="!this.deviceEmpty" v-model="this.deviceEmpty" class="pl-3"><span class="text-danger">You must select at least one device.</span></div>
                        </div>
                        <div class="white-box" style="display: none">
                            <textarea class="form-control" rows="3" placeholder="Your Background Information" v-model="model.additional_information" name="additional_information" >{{ model.additional_information }}</textarea>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import { hasClearedStep1 } from "src/services/tester";
  import ToggleButton from "vue-js-toggle-button";
  export default {
    name: "tester-profile",
    data() {
      return {
        model: {},
        aDevices: {},
        device_map: {},
        deviceEmpty: true
      };
    },
    mounted: function() {
      axios
        .get("/api/devices")
        .then(response => {
          this.aDevices = response.data;
          this.aDevices.forEach(d => (this.device_map[d.id] = false));
          return axios.get(`/api/tester/${this.$store.state.user.id}`);
        })
        .then(({ data: { data } }) => this.assignData(data))
        .catch(function(error) {});
    },
    methods: {
      assignData(data) {
        this.model = { ...this.model, ...data };
        data.devices.forEach(d => (this.device_map[d.id] = true));
      },
      handleChange: function(id) {
        if(this.model.id){
          let devices = [];
          let p;
          let that = this;
          that.deviceEmpty=false;
            Object.keys(this.device_map).map(function (key) {
              var value = that.device_map[key];
              if (value){
                devices.push(key);
                that.deviceEmpty = true;
                return that.deviceEmpty;
              }
            });
          const requestData = { ...this.model, devices };
          p = axios.put(`/api/tester/${this.model.id}`, requestData);
          return that.deviceEmpty;
          requestData.status = false;
        }
      },
    }
  };
</script>
<style lang="scss" scoped>
    @import "../../layouts/css/_customvariables";
    .vue-js-switch {
        float: right;
    }
    .user_image {
        font-size: 10px;
    }
    .input {
        width: 100% !important;
    }
    .custom-county-block {
        width: 30%;
    }
    .custom-container {
        max-width: 100%;
        .step-page-title {
            font-family: $font-family-UniNeue-bold;
            font-size: 30px;
            width: 100%;
            text-align: center;
            color: #363e48;
            margin: 5px 0 25px;
        }
        .tester-profile-page {
            width: 100%;
            .other-input {
                min-width: 150px;
            }
            .toggle-btn-group {
                width: calc(100% - 115px);
            }
            .white-box {
                background-color: #fff;
                box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
                border-radius: 4px;
                padding: 20px;
                margin-bottom: 20px;
                font-size: 17px;
                color: #606368;
                textarea {
                    font-size: 15px;
                    resize: none;
                }
                .block-title {
                    font-size: 20px;
                    font-family: $font-family-UniNeue-bold;
                    border-bottom: 1px solid #dadada;
                    color: #2cac3d;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                .img-wrap {
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                    border: 3px solid #1f8e28;
                    background-color: #f0f5f9;
                    vertical-align: middle;
                    margin-right: 15px;
                    padding: 18px 25px;
                    position: relative;
                    h2 {
                        font-size: 14px;
                        vertical-align: middle;
                        margin-top: 25px;
                        text-align: center;
                    }
                    .choose-img-btn {
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .content-wrap {
                    vertical-align: middle;
                    .username {
                        font-family: $font-family-UniNeue-regular;
                        font-size: 25px;
                        color: #363e48;
                        margin-bottom: 0px;
                    }
                    .usermail {
                        font-size: 15px;
                        color: #73767b;
                        font-family: $font-family-brandon-regular;
                        margin-bottom: 0;
                    }
                }

                .detail-form {
                    width: 100%;
                    span {
                        max-width: 210px;
                        vertical-align: middle;
                        font-size: 16px;
                        color: #606368;
                        line-height: 20px;
                    }
                    .form-control {
                        width: calc(100% - 90px);
                        float: right;
                        margin-top: 5px;
                        &:hover {
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .toggle-btn-group {
                        display: inline-block;
                        vertical-align: inherit;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }
                .device-name {
                    font-size: 17px;
                    color: #606368;
                    min-width: 110px;
                    vertical-align: middle;
                    display: inline-block;
                }
                .toggle-btn-group {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    .green-btn {
                        background-color: #2cac3d;
                        font-size: 17px;
                        font-family: $font-family-brandon-medium;
                        letter-spacing: 0.05rem;
                        color: #fff;
                        border-radius: 4px;
                        padding: 0px 10px;
                        &:hover {
                            background-color: #158f25;
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .white-btn {
                        background-color: #fff;
                        border: 1px solid #e4e4e4;
                        font-size: 17px;
                        font-family: $font-family-brandon-regular;
                        letter-spacing: 0.05rem;
                        color: #606368;
                        border-radius: 4px;
                        padding: 0px 10px;
                        margin-left: 5px;
                        &:hover {
                            background-color: #e4e4e4;
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .form-control {
                        vertical-align: middle;
                        &:hover,
                        &:focus {
                            outline: none !important;
                        }
                    }
                }
                .policy-text {
                    margin-bottom: 5px;
                    a {
                        color: #2cac3d;
                        font-family: $font-family-brandon-bold;
                        font-size: 17px;
                        text-decoration: underline !important;
                    }
                }
                .agree-text {
                    font-size: 15px;
                    color: #ff0000;
                }
            }
            .green-step-btn {
                width: 100%;
                max-width: 260px;
                padding: 7px 10px;
                border: 2px solid #118921;
                background-color: #2cac3d;
                font-size: 14px;
                font-family: $font-family-brandon-medium;
                letter-spacing: 0.05rem;
                color: #fff;
                margin: 15px auto;
                border-radius: 20px;
                display: block;
                &:hover {
                    background-color: #158f25;
                }
            }
        }
    }
    @media screen and(max-width:1281px) {
        .custom-container {
            .tester-profile-page {
                .white-box {
                    font-size: 16px;
                    textarea {
                        font-size: 14px;
                    }
                    .img-wrap {
                        height: 100px;
                        width: 100px;
                        padding: 15px 20px;
                        margin-right: 10px;
                    }
                    .content-wrap {
                        .username {
                            font-size: 22px;
                        }
                    }
                    .detail-form {
                        span {
                            max-width: 160px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .device-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media screen and(max-width:1200px) {
        .custom-container {
            .step-page-title {
                font-size: 28px;
                margin: 0 0 20px;
            }
            .tester-profile-page {
                .white-box {
                    font-size: 15px;
                    .block-title {
                        font-size: 18px;
                    }
                    .user-profile-form {
                        padding-top: 20px;
                        float: left;
                        .form-group {
                            .form-check {
                                margin-right: 0;
                            }
                        }
                    }
                    .img-wrap {
                        height: 80px;
                        width: 80px;
                        padding: 10px 15px;
                    }
                    .detail-form {
                        .form-control {
                            float: left;
                        }
                        span {
                            min-height: 55px;
                        }
                    }
                    .device-name {
                        min-width: 85px;
                        font-size: 15px;
                    }
                    .toggle-btn-group {
                        display: block;
                        .green-btn {
                            font-size: 15px;
                        }
                        .white-btn {
                            font-size: 15px;
                        }
                        .form-control {
                            max-width: 100px;
                        }
                    }
                    .policy-text {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width:991px) {
        .custom-container {
            .tester-profile-page {
                .white-box {
                    padding: 15px;
                    .detail-form {
                        .form-control {
                            max-width: 120px;
                            float: none;
                            margin-bottom: 15px;
                            margin-left: 15px;
                        }
                        span {
                            min-height: auto;
                            max-width: 100%;
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width:575px) {
        .custom-container {
            .step-page-title {
                font-size: 26px;
            }
            .tester-profile-page {
                .white-box {
                    font-size: 14px;
                    line-height: 18px;
                    .img-wrap {
                        margin-bottom: 10px;
                    }
                    .detail-form {
                        .toggle-btn-group {
                            margin-bottom: 15px;
                        }
                    }
                    .user-profile-form {
                        width: 100%;
                        .form-group {
                            min-width: 100%;
                            margin-right: 0;
                        }
                    }
                    .policy-text {
                        font-size: 14px;
                    }
                    .agree-text {
                        font-size: 13px;
                    }
                }
            }
        }
    }
</style>