<template>
    <div id="scroll-top" class="row">
        <div class="col-lg-12">
            <b-card :header="header" header-tag="h4" class="bg-success-card">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div style="color: red" v-if="errors" v-text="errors"></div> -->
                        <div style="color: red" v-if="errors" >
                            <ul id="example-1" v-for="error in errors">
                                <li>
                                    {{ error }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12 mb-3">
                        <vue-form class="form-horizontal form-validation" :state="formstate" @submit.prevent="onSubmit">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="email"> First name <span class="input-required">*</span></label>
                                        <input v-model="model.first_name" name="first_name" type="text" required autofocus placeholder="First name" class="form-control" />
                                        <field-messages name="first_name" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">First name is a required field</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="email"> Last name<span class="input-required">*</span></label>
                                        <input v-model="model.last_name" name="last_name" type="text" required autofocus placeholder="Last name" class="form-control" />
                                        <field-messages name="last_name" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">Last name is a required field</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="email"> E-mail<span class="input-required">*</span></label>
                                        <input v-model="model.email" name="email" type="email" autocomplete="off" required placeholder="E-mail" class="form-control" />
                                        <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">Email is a required field</div>
                                            <div slot="email">Email is not valid</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="password"> Password<span class="input-required">*</span> </label>
                                        <input v-model="model.password" name="password" autocomplete="off" type="password" :required="!model.id" placeholder="Password" class="form-control" />
                                        <field-messages name="password" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">Password is a required field</div>
                                            <div slot="password">Password is not valid</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="confirm_password">Confirm password<span class="input-required">*</span> </label>
                                        <input v-model="model.confirm_password" autocomplete="off" name="confirm_password"  type="password" :required="!model.id" placeholder="Confirm password" class="form-control" :sameas="model.password" />
                                        <field-messages name="confirm_password" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">Confirm Password is a required field</div>
                                            <div slot="sameas">Password and Confrim Password must match</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="mobile">Phone number</label>
                                        <input v-model="model.mobile_no" name="mobile" type="mobile" placeholder="Phone number" class="form-control" pattern="[0-9]{10}" />
                                        <field-messages name="mobile" show="$invalid && $submitted" class="text-danger">
                                            <div slot="pattern">Please enter 10 digits phone number</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="country_id">Country<span class="input-required">*</span></label>
                                        <select id="country_id" name="country_id" required size="1" class="form-control" v-model="model.country_id" :required="!model.id">
                                            <option value="0" selected disabled>
                                                Please select
                                            </option>
                                            <option v-for="country in aCountries " :value="country.id"> {{ country.name }} </option>
                                        </select>
                                        <field-messages name="country_id" show="$invalid && $submitted" class="text-danger">
                                            <div slot="required">Country is required</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-lg-12" v-if="$route.params.id">
                                <div class="form-group">
                                    <validate tag="div">
                                        <label for="status">Status</label> <br/>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_active" v-model="model.is_active" class="form-control" value="Active" />Active
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_active" v-model="model.is_active" class="form-control" value="Deactive" />Deactive
                                        </label>
                                    </validate>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-8 m-t-25">
                                <button type="submit" class="btn btn-primary">Submit
                                </button>
                                <button type="reset" class="btn btn-effect-ripple btn-secondary reset_btn1" @click="form_reset">
                                    Reset
                                </button>
                                <router-link :to="{ name: 'admin.publisher' }" class="btn btn-primary">Back to publishers</router-link>
                            </div>
                        </vue-form>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
  import Vue from "vue";
  import VueForm from "vue-form";
  import Datepicker from "vuejs-datepicker";
  import options from "src/validations/validations.js";
  Vue.use(VueForm, options);
  var VueScrollTo = require('vue-scrollto');
  Vue.use(VueScrollTo, {
    container: "body",
    duration: 500,
    easing: "ease",
    offset: -100,
    cancelable: true,
    onDone: false,
    onCancel: false,
    x: false,
    y: true
  });
  const cleanData = {
    username: "",
    email: "",
    mobile_no: "",
    password: "",
    confirm_password: "",
    country_id: "",
    is_active: 'Active',
  };
  export default {
    name: "add_user",
    components: {
      Datepicker
    },
    data() {
      return {
        formstate: {},
        header: this.$route.params.id ? "Edit Publisher" : "Add Publisher",
        model: { ...cleanData },
        errors: null,
        old_file: "",
        originalUser: {},
        aCountries: {}
      };
    },
    methods: {
      onSubmit: function() {
        if (this.formstate.$invalid) {
          VueScrollTo.scrollTo('#scroll-top');
          return;
        } else {
          let p;
          const requestData = { ...this.model };
          // requestData.date_of_birth = requestData.date_of_birth.toMysql();
          requestData.status = requestData.is_active;
          if (this.model.id) {
            p = axios.put(`/api/publisher/${this.model.id}`, requestData);
          } else {
            p = axios.post("/api/publisher", requestData);
          }
          p
            .then(response => this.$router.push({ name: "admin.publisher" }))
            .catch(error => (this.errors = error.response.data.message));
        }
      },
      clearqueue(file) {
        if (this.$refs.user_image.dropzone.files.length > 1) {
          this.$refs.user_image.dropzone.removeFile(this.old_file);
        }
        this.old_file = file;
      },
      form_reset() {
        if (this.model.id) {
          return (this.model = this.originalUser);
        } else {
          this.model = { ...cleanData };
          this.$refs.user_image.removeAllFiles();
        }
      }
    },
    created: function() {
      if (this.model.country_id == null) {
        this.model.country_id = 231; // 'United states' will be selected as default
      }
    },
    mounted: function() {
      if (this.$route.params.id) {
        axios
          .get(`/api/publisher/${this.$route.params.id}`)
          .then(({ data: { data } }) => {
            this.model = data;
            this.model.is_active = this.model.is_active ? 'Active' : undefined;
            if(this.model.status.name == 'Deactive') {
              this.model.is_active = "Deactive";
            }
            this.originalUser = data;
          })
          .catch(() => this.$router.push({ name: "admin.publisher" }));
      }
      axios
        .get("/api/getCountries")
        .then(response => {
          this.aCountries = response.data;
        })
        .catch(function(error) {});
    },
    destroyed: function() {}
  };
</script>
<style scoped>
    .dropzone_wrapper {
        width: 100%;
        height: 300px;
    }
    .red-asterisk {
        color: red;
    }
</style>
