<template>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="pull-right">
                <router-link :to="{name: 'admin.add_publisher'}" class="btn btn-primary" > Add New Publisher </router-link>
            </h4>
        </div>
        <div class="col-lg-12">
            <b-card header="Publishers" header-tag="h4" class="bg-primary-card">
                <div class="col-lg-12">
                    <!-- <div style="color: red" v-if="errors" v-text="errors"></div> -->
                    <div style="color: red" v-if="errors" >
                        <ul id="example-1">
                            <li :v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user.responsive">
                    <v-server-table ref="publisherTable" url="/api/publisher" :columns="columns" :options="options">
                        <div slot="status" slot-scope="props">
                            <router-link v-if="props.row.status == 'Pending Activated'" class="proj-title text-uppercase" :to="'/portal/login?token='+props.row.token">{{  props.row.status }}</router-link>
                            <span v-else class="proj-title text-uppercase" >{{  props.row.status }}</span>
                        </div>
                        <div slot="registration_date" slot-scope="props">
                            {{ props.row.registration_date | date }}
                        </div>
                        <div slot="view_projects" slot-scope="props" class="text-center">
                            <router-link :to="{name: 'admin.publisher.projects', params: {id: props.row.id, name: props.row.name}}">{{ props.row.view_projects }}</router-link>
                        </div>
                        <div slot="actions" slot-scope="props">
                            <router-link :to="{ name: 'admin.publisher.profile', params: { id: props.row.id }}">
                                <i class="fa fa-eye"></i>
                            </router-link>
                            <router-link :to="{ name: 'admin.publisher.edit', params: { id: props.row.id }}">
                                <i class="fa fa-edit"></i>
                            </router-link>
                            <a href="javascript:;" @click.prevent="deleteUser(props.row.id)"><i class="fa fa-trash"></i></a>
                        </div>
                    </v-server-table>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
    import Vue from "vue";
    import { ServerTable, Event } from "vue-tables-2";
    Vue.use(ServerTable, {
        sortIcon: {
            base: "fa",
            up: "fa-chevron-up",
            down: "fa-chevron-down",
            is: "fa-sort"
        }
    });

    export default {
        name: "publishers_list",
        data() {
            return {
                errors: null,
                columns: [
                    "name",
                    "email",
                    "registration_date",
                    "status",
                    "view_projects",
                    "actions"
                ],
                options: {
                    sortable: ["name", "email", "registration_date", "view_projects"],
                    orderBy: {
                        column: "registration_date",
                        ascending: false
                    },
                    requestFunction: function(data) {
                        return axios
                            .get(this.url, {
                                params: {
                                    ...data,
                                    order: data.ascending ? "asc" : "desc",
                                    column:
                                        this.orderBy.column === "registration_date"
                                            ? "created_at"
                                            : this.orderBy.column
                                }
                            })
                            .catch(
                                function(e) {
                                    this.dispatch("error", e);
                                }.bind(this)
                            );
                    },
                    responseAdapter: function(response) {
                        return {
                            data: response.data.map(t => ({
                                ...t,
                                name: `${t.first_name} ${t.middle_name || ""} ${t.last_name ||
                                ""}`,
                                registration_date: t.created_at,
                                status: t.status ? t.status.name : "Not Known",
                                view_projects: t.publisher_projects.length
                            })),
                            count: response.meta.total
                        };
                    },
                    dateColumns: ["registration_date"]
                }
            };
        },
        methods: {
            deleteUser(id) {
                this.$swal({
                    title: "Are you sure?",
                    text: "You want to delete publisher?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then(willDelete => {
                    if (willDelete) {
                        return axios
                            .delete(`/api/publisher/${id}`)
                            .then(() => this.$refs.publisherTable.refresh())
                            .catch(e => (this.errors = e.response.message));
                    }
                });
            }
        }
    };
</script>
<style>
    .form-inline label {
        justify-content: left !important;
    }
</style>