<template>
    <div>
        <policy v-if="showNda" @done="hideNDA"></policy>
        <div class="bg-color" v-else>
            <div class="container custom-container">
                <div class="row">
                    <h1 class="step-page-title">
                        Profile
                    </h1>
                    <Profile></Profile>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    // import Vue from "vue";
    import VueForm from "vue-form";
    import options from "src/validations/validations.js";
    import { hasClearedStep1 } from "src/services/tester";
    import ToggleButton from "vue-js-toggle-button";
    import Policy from "pages/tester/nda-policy";
    import { ComponentsProfile } from "components/components/publisher/profile";
    // Vue.use(VueForm, options);
    export default {
        name: "tester-profile",
        component :{ ComponentsProfile }

    };
</script>
