<template>
    <div class="container custom-container">
      <div class="row">
        <h1 class="step-page-title">
          Dashboard
        </h1>
        <div class="dashboard-page">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 text-center">
              <div class="white-box proj-summary">
                <h3 class="proj-count">0</h3>
                <p class="proj-status">Running Projects</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center">
              <div class="white-box proj-summary">
                <h3 class="proj-count">1</h3>
                <p class="proj-status">Pending Approvals</p>
              </div>  
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center">
              <div class="white-box proj-summary">
                <h3 class="proj-count">0</h3>
                <p class="proj-status">Inbox</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center">
              <div class="white-box proj-summary">
                <h3 class="proj-count">$0</h3>
                <p class="proj-status">My spending</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9 col-12">
              <div class="status-bar blue-status-bar">
                Welcome! Press post new project to start posting a project
              </div>
            </div>
            <div class="col-sm-3 col-12">
              <router-link :to="{name: 'publisher.project.add'}" class="text-uppercase blue-step-btn post-btn">post new project</router-link>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-md-6 col-12">
                <h4 class="block-title">
                  Activities
                </h4>
                <div class="activity-list">
                  <ul>
                    <li>
                      Welcome you can now post the project. - <span class="text-bold">2 Mins ago</span>
                    </li>
                    <li>
                       Sign in - <span class="text-bold">5 Mins ago</span>
                    </li>
                    <li>
                      Sample Activity #1 - <span class="text-bold">10 Mins ago</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <h4 class="block-title">
                </h4>
                <div class="activity-list">
                  <ul>
                    <li>
                      Sample Activity #2 - <span class="text-bold">18 Mins ago</span>
                    </li>
                    <li>
                      Sample Activity #3 - <span class="text-bold">23 Mins ago</span>
                    </li>
                    <li>
                      Sample Activity #4 - <span class="text-bold">44 Mins ago</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="block-title">
                  Running Projects
                </h4>
                  <p class="no-proj-desc"> You do not have any running projects. Please click on Post New Project button.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";

.custom-container{
  max-width: 100%;
  .text-blue{
    color: #0082cc;
  }
  .text-red{
    color: #e63423;
  }
  .text-bold{
    font-family: $font-family-brandon-bold;
  }
  .step-page-title{
    font-family: $font-family-UniNeue-bold;
    font-size : 30px;
    width: 100%;
    text-align: center;
    color: #363e48;
    margin: 5px 0 25px;
  }
  .dashboard-page{
    width: 100%;
    .white-box{
      background-color: #fff;
      box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
      border-radius: 4px;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 17px;
      color: #606368;
      .block-title{
        font-size: 20px;
        font-family: $font-family-UniNeue-bold;
        border-bottom: 1px solid #dadada;
        color: #0082cc;
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: auto;
        min-height:35px;
      }
      .proj-status{
        font-size: 17px;
        font-family: $font-family-brandon-medium;
        margin-bottom: 0;
      }
      .proj-count{
        font-size: 40px;
        font-family: $font-family-UniNeue-bold;
        line-height: 30px;
        color: #0082cc;
      }
      .no-proj-desc{
        padding: 25px 0 10px;
        text-align:center;
      }
      .activity-list{
        ul{
          padding-left: 20px;
          list-style: disc;
          margin-bottom: 0;
          li{
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
      .status-bar{
        width: 100%;
        border-radius: 4px;
        text-align: center;
        font-size: 17px;
        font-family: $font-family-brandon-medium;
        min-width: 40px;
        padding: 5px 0;
        background-color: #fff;
        margin-bottom: 20px;
      }
      .status-bar.blue-status-bar{
        color: #0082cc;
        border: 2px solid #0082cc;
      }
      .status-bar.green-status-bar{
        color: #2cac3d;
        border: 2px solid #2cac3d;
        display: none;
      }
    .blue-step-btn{
      width: 100%;
      padding: 2px 5px;
      border:2px solid #0082cc;
      background-color: #00aff5;
      font-size: 14px;
      font-family: $font-family-brandon-medium;
      letter-spacing: 0.05rem;
      color: #fff;
      border-radius: 20px;
      display: block;
      text-align: center;
      &:hover{
        background-color: #13b9fb;
      }
    }
    .post-btn{
      padding: 7px 10px;
    }
  }
}
@media screen and(max-width:1281px) {
  .custom-container{
    .dashboard-page{
      .white-box{
        font-size: 16px;
      }
      .white-box.proj-summary{
        padding: 20px 7px;
      }
      .blue-step-btn{
        font-size: 13px;
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container{
    .page-title{
      font-size: 28px;
      margin: 0 0 20px;
    }
    .dashboard-page{
      .blue-step-btn{
        font-size: 12px;
        letter-spacing: 0;
      }
      .white-box{
        font-size: 14px;
        .block-title{
          font-size: 18px;
        }
        .proj-count{
          font-size: 28px;
          line-height: 24px;
        }
        .proj-status{
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and(max-width:991px) {
  .custom-container{
    .dashboard-page{
      .white-box{
        padding: 15px;
      }
    }
  }
}
@media screen and(max-width:767px) {
 .custom-container{
    .dashboard-page{
      .status-bar{
        font-size: 14px;
      }
    }
 }
}
@media screen and(max-width:575px) {
  .custom-container{
    .page-title{
      font-size: 26px;
    }
    .dashboard-page{
      .blue-step-btn.view-profile-btn{
          max-width: 180px;
          margin: 0 auto 15px;
      }
      .white-box{
        font-size: 14px;
        line-height: 18px;
      }
      .white-box.proj-summary{
        padding: 20px 10px;
        max-height: 100px;
        min-height: 100px;
      }
      .status-bar{
        margin-bottom: 15px;
      }
      .post-btn{
        max-width: 150px;
        float: right;
        margin-bottom: 15px;
      }
    }
  }
}
</style>