

/* =============================================================
   GENERAL STYLES
 ============================================================ */

.pad-top-botm {
    
        display: flex;
    margin: 26px 0 0 0;
}

/* =============================================================
   PAGE STYLES
 ============================================================ */

  
  #form
  {
       /* box-shadow: 0 2px 8px rgba(0,0,0,0.2);*/
    background: #FFF;
   /* border: 1px solid #E3E3E3;*/
    width: 936px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .logo img{
    max-height: 200px;
    max-width: 300px;
        margin-top: 2em;
  }
  .info {
    -webkit-flex-grow: 1;
    flex-grow: 1;
   
    text-align: right;
}
.pd-heading--title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
}
.pd-text--strong {
    font-weight: 700;
}
.info__address {
    line-height: 16px;
}
#NextContemporary {
   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}
.contemporary-template__metadata__customer--billing {
    /* -webkit-flex-grow: 1; */
    flex-grow: 1;
    padding-right: 10px;
}
 .contemporary-template__metadata__customer__address-header {
    color: #8C959A;
}
.contemporary-template__metadata__customer--shipping {
    flex-grow: 3;
    padding-right: 10px;
}
.pd-table {
    /*font-family: "monospace";*/
}
.pd-table__row {
   
     border: none; 
}
 .pd-table__row .pd-table__cell:first-child {
    text-align: right;
    min-width: 130px;
    vertical-align: top;
}
.pd-table__row .pd-table__cell {
    padding: 0 15px 0 0;
}
.pd-table__cell--amount {
    font-size: 14px;
}
.contemporary-template__totals {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 35px;
   float: right;
}
hr{
    border-bottom: 3px solid #dee1e2;
    margin-top: 0;
    margin-bottom: 16px;

}
 .contemporary-template__totals__amounts {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: right;
    margin-right: 15px;
}
.contemporary-template__totals__amounts__line {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    line-height: 26px;
}
.contemporary-template__divider--bold {
    border-bottom: 3px solid #dee1e2;
    margin-top: 0;
    margin-bottom: 16px;
}


#ClassicTemplate .classic-template__separator__header hr {
    border-width: 2px 0 2px 0;
    border-style: solid;
    padding: 2px 0;
    -webkit-flex-grow: 2;
    flex-grow: 2;
    margin: 40px 0;
}
#ClassicTemplate .classic-template__separator__header__frame {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 20px;
}
#ClassicTemplate .classic-template__separator__header__frame__text {
    border-width: 2px 0 2px 0;
    border-style: solid;
    height: 56px;
    line-height: 68px;
    position: relative;
    padding: 0 10px;
}
#ClassicTemplate .classic-template__separator__header__frame__text:before, #ClassicTemplate .classic-template__separator__header__frame__text:after {
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    right: 0;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: inherit;
}
#ClassicTemplate .classic-template__separator__header__frame__text .pd-heading--title {
    line-height: 0;
}

#ClassicTemplate .pd-heading--title {
    font-weight: 300;
    font-size: 30px;
    margin: 30px 0 16px 0;
}

#ClassicTemplate .pd-text, #ClassicTemplate .pd-heading--title, #ClassicTemplate .pd-heading--subtitle, #ClassicTemplate .pd-text--strong, #ClassicTemplate .pd-text--small, #ClassicTemplate .pd-table__cell, #ClassicTemplate .pd-table__cell--amount {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 14px;
}

.pd-heading--title, .pd-generated-content h1:not([class*="pd-"]), .pd-heading--title--display {
    font-size: 33px;
    line-height: 40px;
    font-weight: 400;
}

.pd-heading--title, .pd-generated-content h1:not([class*="pd-"]), .pd-heading--subtitle, .pd-heading--section-title, .pd-generated-content h2:not([class*="pd-"]), .pd-heading--subsection-title, .pd-generated-content h3:not([class*="pd-"]), .pd-heading--title--display, .pd-heading--section-title--display, .pd-form-legend, .pd-nav--tertiary .pd-nav__heading {
    display: block;
    /*margin: 32px 0 16px;*/
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
   */ color: #1c252b;
}

#ClassicTemplate .classic-template__separator__header__frame__text:before, #ClassicTemplate .classic-template__separator__header__frame__text:after {
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    right: 0;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: inherit;
}

#ClassicTemplate .classic-template__separator__header {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.classic-template__separator__header {
  
    display: flex;
   
    align-items: center;
}
.classic-template__separator__header hr {
    border-width: 2px 0 2px 0;
    border-style: solid;
    padding: 2px 0;
 
    flex-grow: 2;
    margin: 40px 0;
    border-color: #444444;
}
.classic-template__separator__header__frame {
    
    display: flex;
  
    align-items: center;
    margin: 0 20px;
}

.classic-template__separator__header__frame__text {
    border-width: 2px 0 2px 0;
    border-style: solid;
    height: 56px;
    line-height: 68px;
    position: relative;
    padding: 0 10px;
}
 .pd-heading--title {
    font-weight: 300;
    font-size: 30px;
    margin: 30px 0 16px 0;
        line-height: 0;
        font-family: monospace;
}
.classic-template__separator__header__frame__text:after {
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    right: 0;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: inherit;
}
 .classic-template__separator__header__frame__text:before {
    content: "";
    position: absolute;
    top: -8px;
    bottom: -8px;
    left: 0;
    right: 0;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: inherit;
}
.classic-template__separator__header__frame__text {
    border-width: 2px 0 2px 0;
    border-style: solid;
    height: 60px;
    line-height: 68px;
    position: relative;
    padding: 0 10px;
}
.footer-logo{
    max-height: 200px;
    max-width: 240px;
}