<template>
    <div class="proj-block-wrap">
        <div class="row align-items-center">
            <div class="col-md-12 col-xl-10 border-xl-right">
                <div class="row">
                <div class="col-12 mb-2">
                    <router-link class="proj-title text-uppercase" :to="{ name: 'admin.project.view', params: { id: project.id }}">{{ project.name }}</router-link>
                </div>
                <div class="col-xl-4 col-lg-6 text-left">
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">Publisher: </span>
                        <span class="d-block d-sm-inline-block">
                            {{ project.publisher.name ? project.publisher.name : project.publisher.first_name + ' ' + project.publisher.last_name }}
                        </span>
                    </div>
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">Devices : </span>
                        <span class="d-block d-sm-inline-block">
                            <device-selector disabled v-model="selected_devices"></device-selector>
                        </span>
                    </div>
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">Type : </span>
                        <span class="d-block d-sm-inline-block">
                            {{ project.project_type.name }}
                        </span>
                    </div>
                    
                    <div class="mb-2" v-if="project.status.name == 'Running'">
                        <span class="d-block d-sm-inline-block">{{ project.testersSubmitted.length }} Testers Submitted,  </span>
                        <span class="d-block d-sm-inline-block">{{ project.tester_needed - project.testersSubmitted.length }} Pending</span>
                    </div>
                    <div class="mb-2" v-else-if="project.status.name == 'Pending Approval'">
                        <span class="d-block d-sm-inline-block text-bold">Testers needed : </span>
                        <span class="d-block d-sm-inline-block">{{ project.tester_needed }} </span>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 text-left">
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">
                            Estimated Tester Time needed to complete :
                        </span>
                        <span class="d-block d-sm-inline-block"> {{ project.estimate_tester_time }} hours</span>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 text-xl-right">
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">Start Date : </span>
                        <span class="d-block d-sm-inline-block">{{ project.start_date | date}}</span>
                    </div>
                    <div class="mb-2">
                        <span class="text-bold mr-1 d-block d-sm-inline-block">End Date : </span>
                        <span class="d-block d-sm-inline-block">{{project.end_date | date}}</span>
                    </div>
                    <div class="mb-2">
                        <span v-if="project.status.name == 'Running'" class="text-bold mr-1 d-block d-sm-inline-block pl-xl-0">
                            Started On:
                        </span>
                        <span v-else-if="project.status.name == 'Pending Approval'" class="text-bold mr-1 d-block d-sm-inline-block pl-xl-0">
                            Request for approval sent on:
                        </span>
                        <span class="mb-2 d-block d-sm-inline-block">
                            {{project.created_at | date}}
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-2 btn-wrap">
                 <router-link class="purple-btn" :to="{ name: 'admin.project.view', params: { id: project.id }}">View Project</router-link>
            </div>
        </div>
  </div>

</template>
<script>
import DeviceSelector from "components/components/device-selector";
export default {
  name: "ProjectItem",
  components: {
    DeviceSelector
  },
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      originalUser: window.USER
    };
  },
  computed: {
    selected_devices() {
      return (this.project.devices || []).map(({ id }) => id);
    }
  },
  methods: {
    onDelete(id) {
      this.$emit("delete", id);
    }
  }
};
</script>
<style lang="scss" scoped>
    
@import "../../layouts/css/_customvariables";
  .text-blue{
      color: #0082cc;
  }
    .project-link{
        color: #212529;
    }
  .text-red{
    color: #e63423;
  }
  .text-green{
    color: #2cac3d;
  }
  .text-purple{
      color: #3e3a94;
  }
  .text-bold{
    font-family: $font-family-brandon-bold;
  }
  .text-medium{
    font-family: $font-family-brandon-medium;
  }
  .purple-btn{
    background-color: #5651b9;
    border: 2px solid #3e3a94;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    font-family: $font-family-brandon-medium;
    border-radius: 25px;
    padding: 4px 6px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-align: center;
    width: 100%;
    text-align: center;
    display: block;
    &:hover{
        outline: none !important;
        text-decoration: underline !important;
    }
    &:focus{
        outline: none !important;
    }
    }
    .proj-block-wrap{
      padding: 15px 0;
      font-family: $font-family-brandon-regular;
      font-size: 14px;
      color: #606368;
      position: relative;
      border-bottom: 1px solid #dadada;
       &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
        border: none;
      }
      span{
        vertical-align: top;
      }
      .border-xl-right{
        border-right: 1px solid #dadada;
      }
    .proj-title{
      font-family: $font-family-brandon-bold;
      font-size: 16px;
      color: #363e48;
    }
  }
@media screen and(max-width:1200px) {
  .purple-btn{
    float: right;
    max-width: 150px;
  }
  .proj-block-wrap{
    .border-xl-right{
      border-right: none;
    }
  }
}
@media screen and(max-width:991px) {
  .purple-btn{
    float: left;
  }
}
@media screen and(max-width:767px) {
  .proj-block-wrap{
    padding: 10px 0 15px;
    .proj-title{
      font-size: 20px;
    }
  }
}

@media screen and(max-width:575px) {
  .proj-block-wrap{
    .proj-title{
      font-size: 16px;
    }
  }
}
</style>
