aside.left-aside {
    position: fixed;
    top: 70px;
    left: 0;
    max-height: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    @media screen and (max-width: 560px) {
        top: 100px;
        height: calc(100% - 70px);
    }
}

aside.right-aside {
    display: block !important;
    width: auto !important;
    margin-left: 250px;
}

body.left-hidden aside.right-aside {
    margin-left: 0;
}