<template>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="pull-right">
                <router-link :to="{name: 'admin.add_new_device'}" class="btn btn-primary" > Add New Device </router-link>
            </h4>
        </div>
        <div class="col-lg-12">
            <b-card header="Devices" header-tag="h4" class="bg-primary-card">
                <div class="col-lg-12">
                    <div style="color: red" v-if="errors" >
                        <ul id="example-1">
                            <li :v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user.responsive">
                    <v-server-table ref="deviceTable" url="/api/device" :columns="columns" :options="options">
                        <div slot="name" slot-scope="props">
                          <img :src="props.row.icon" height="50" width="50" /> {{props.row.name}}
                        </div>
                        <div slot="actions" slot-scope="props">
                            <router-link :to="{ name: 'admin.device.edit', params: { id: props.row.id }}" class="">
                              <img src="~img/edit_18x18.png" class="img-fluid"/>
                                <!-- <i class="fa fa-edit"></i> -->
                            </router-link>
                            <a href="javascript:;" @click.prevent="deleteDevice(props.row.id)" class="">
                              <img src="~img/bin_18x18.png" class="img-fluid"/>
                              <!-- <i class="fa fa-trash"></i> -->
                            </a>
                        </div>
                    </v-server-table>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from "vue";
import { ServerTable, Event } from "vue-tables-2";
Vue.use(ServerTable, {
  sortIcon: {
    base: "fa",
    up: "fa-chevron-up",
    down: "fa-chevron-down",
    is: "fa-sort"
  }
});

export default {
  name: "devices_list",
  data() {
    return {
      errors: null,
      columns: ["name", "status", "registration_date", "actions"],
      options: {
        sortable: ["name", "status", "registration_date"],
        orderBy: {
          column: "registration_date",
          ascending: false
        },
        requestFunction: function(data) {
          return axios
            .get(this.url, {
              params: {
                ...data,
                order: data.ascending ? "asc" : "desc",
                column:
                  this.orderBy.column === "registration_date"
                    ? "created_at"
                    : this.orderBy.column
              }
            })
            .catch(
              function(e) {
                this.dispatch("error", e);
              }.bind(this)
            );
        },
        responseAdapter: function(response) {
          return {
            data: response.data.map(t => ({
              ...t,
              registration_date: t.created_at
            })),
            count: response.meta.total
          };
        },
        dateColumns: ["registration_date"]
      }
    };
  },
  methods: {
    deleteDevice(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You want to delete the device?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          return axios
            .delete(`/api/device/${id}`)
            .then(() => this.$refs.deviceTable.refresh())
            .catch(e => (this.errors = e.response.message));
        }
      });
    }
  }
};
</script>