<template>
  <div class="testing-process-tabwrap">
    <b-tabs>
      <b-tab title="Questions" class="active-tab" active>
        <div class="tester-questions-tab">
          <div class="row mb-sm-3 mb-2">
            <div class="col-12">
              <p class="mb-0 mb-sm-1">
                <span class="text-medium mr-1">Q1.</span>
                <span class="">
                  Did you like the ambient sounds?
                </span>
              </p>
            </div>
            <div class="col-12">
              <p class="mb-0 mb-sm-1 text-medium ml-3 pl-3">
                Yes, but would like volume control
              </p>
            </div>
          </div>
          <div class="row mb-sm-3 mb-2">
            <div class="col-12">
              <p class="mb-0 mb-sm-1">
                <span class="text-medium mr-1">Q2.</span>
                <span class="">
                  was popularised in the 1960s with the release of Letraset sheets ?
                </span>
              </p>
            </div>
            <div class="col-12">
              <p class="mb-0 mb-sm-1 text-medium ml-3 pl-3">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
              </p>
            </div>
          </div>
            <div class="row mb-sm-3 mb-2">
            <div class="col-12">
              <p class="mb-0 mb-sm-1">
                <span class="text-medium mr-1">Q3.</span>
                <span class="">
                  was popularised release of Letraset sheets ?
                </span>
              </p>
            </div>
            <div class="col-12">
              <p class="mb-0 mb-sm-1 text-medium ml-3 pl-3">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              </p>
            </div>
          </div>

        </div>
      </b-tab>
      <b-tab title="Ratings/Scores">
        <div class="tester-rating-tab">
          <h4 class="total-score-txt">
            Total Score: 88
            <span class="effective-badge">Exemplary</span>
          </h4>
          <div role="tablist">
            <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion1>
                  content
                  <span class="text-right">
                    Total Score : 00
                  </span>
                </b-btn>
              </b-card-header>
              <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <starRatings v-model="ratings.content" :disabled="true"></starRatings>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion2>
                  <!-- <img src="~img/right-arrow.png" class="img-fluid mr-1"/> -->
                  Gameplay
                  <span class="text-right">
                    Total Score : 00
                  </span>
                </b-btn>

              </b-card-header>
              <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <starRatings v-model="ratings.gameplay" :disabled="true"></starRatings>
                </b-card-body>
              </b-collapse>
            </b-card>
            <b-card no-body class="mb-3 mb-sm-4 custom-accordion">
              <b-card-header header-tag="header" class="p-1" role="tab">
                <b-btn block href="#" v-b-toggle.accordion3>
                  <!-- <img src="~img/right-arrow.png" class="img-fluid mr-1"/> -->
                  multimedia
                  <span class="text-right">
                    Total Score : 00
                  </span>
                </b-btn>
              </b-card-header>
              <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                  <starRatings v-model="ratings.multimedia" :disabled="true"></starRatings>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
          <h4 class="total-score-txt mb-0">
            Total Score: 88
            <span class="effective-badge">Exemplary</span>
          </h4>
        </div>
      </b-tab>
      <!--- Issues section -->
      <b-tab title="Issues">
        <div class="tester-issues-tab">
          <div class="issue-block mb-md-5 mb-sm-3 mb-3">
            <div class="row">
              <div class="col-12">
                 <div class="icon-wrap d-inline-block align-middle">
                    <img src="~img/black_widow_32x32.png" class="img-fluid" />
                  </div>
                  <div class="content-wrap d-inline-block align-middle">
                    <p class="text-bold text-green issue-type">Black Widow - High Type Bugs:</p>
                  </div>
                  <div class="mt-2">
                    <p class="mb-sm-3 mb-2">1. This is High priority bug one</p>
                    <p class="mb-sm-3 mb-2">2. This is High priority bug two</p>
                    <p class="mb-sm-3 mb-2">3. This is High priority bug three</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="issue-block mb-md-5 mb-sm-3 mb-3">
            <div class="row">
              <div class="col-12">
                <div class="icon-wrap d-inline-block align-middle">
                  <img src="~img/wasp_32x32.png" class="img-fluid" />
                </div>
                <div class="content-wrap d-inline-block align-middle">
                  <p class="text-bold text-green issue-type">Wasp - Medium Type Bugs:</p>
                </div>
                <div class="mt-2">
                  <p class="mb-sm-3 mb-2">1. There is one type B bug found, that is when i start files i will flashing splash screen two time.</p>
                  <p class="mb-sm-3 mb-2">2. There is second medium bug found, that is when i start files i will flashing splash screen two time.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="issue-block mb-sm-0 mb-3">
            <div class="row">
              <div class="col-12">
                <div class="icon-wrap d-inline-block align-middle">
                  <img src="~img/gnat_32x32.png" class="img-fluid" />
                </div>
                <div class="content-wrap d-inline-block align-middle">
                  <p class="text-bold text-green issue-type">Gnat - Low Type Bugs:</p>
                </div>
                <div class="mt-2">
                  <p class="mb-sm-3 mb-2">1. There is one Low bug found.</p>
                </div>
              </div>
            </div>
          </div>
          <hr class="line-seprator">
          <div class="issue-block mb-md-5 mb-sm-3 mb-3">
            <div class="row">
              <div class="col-12">
                <p class="text-bold text-green issue-type">Are there any cosmetic issues you'd like to mention?</p>
                <p class="mb-sm-3 mb-2">1. there is white screen generating during running games</p>
              </div>
            </div>
          </div>
          <div class="issue-block">
            <div class="row">
              <div class="col-12">
                <p class="text-bold text-green issue-type">Do you have any suggestions you would like to pass on to the Publisher?</p>
                <p class="mb-sm-3 mb-2">1. there is white screen generating during running games</p>
              </div>
            </div>
          </div>
        </div>
      </b-tab>
      <!-- -->
      <b-tab title="Attachment">
        <div class="tester-attachment-tab">
          <div class="attachment-table-wrap">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-bordered attachment-table">
                    <tbody>
                      <tr>
                        <td scope="row">
                          <img src="~img/mp4-icon.png" class="img-fluid" />
                        </td>
                        <td class=" text-medium">File Name.mp4</td>
                        <td>236 MB</td>
                        <td class="text-center">
                          <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                          <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">
                            <img src="~img/pdf-icon.png" class="img-fluid" />
                        </td>
                        <td class="text-medium">File Name_2.pdf</td>
                        <td>112 KB</td>
                        <td class="text-center">
                          <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                          <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">
                          <img src="~img/png-icon.png" class="img-fluid" />
                        </td>
                        <td class="text-medium">File Name_3.png</td>
                        <td>1.25 MB</td>
                        <td class="text-center">
                          <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                          <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row">
                          <img src="~img/jpg-icon.png" class="img-fluid" />
                        </td>
                        <td class="text-medium">File Name_4.jpg</td>
                        <td>1.25 MB</td>
                        <td class="text-center">
                          <a href="#" class="d-inline-block"><i class="fa fa-eye"></i></a>
                          <a href="#" class="d-inline-block"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import Vue from "vue";
import moment from "moment";
import DeviceSelector from "components/components/device-selector";
import starRatings from "components/components/project/rating.vue";
export default {
  name: "project_testing_process_review",
  components: {
    starRatings,
    DeviceSelector
  },
  data() {
    return {
      testProject: {},
      user: {},
      ratings: {},
      projectTester: {},
      answer_map: {},
      totalHighTypeIssues: 2,
      totalMediumTypeIssues: 2,
      totalLowTypeIssues: 1,
      totalCosmeticTypeIssues: 1,
      totalOtherTypeIssues: 1,
      seen: false,
      issues: {
        high: {},
        medium: {},
        low: {},
        cosmetic: {},
        other: {}
      }
    };
  },
  computed: {
    currentTestStatus() {
      if (this.projectTester && this.projectTester.latest_status_data) {
        if (this.projectTester.latest_status.toLowerCase() === "submitted") {
          return `In Review, Submitted: ${moment(
            this.projectTester.latest_status_data.updated_at
          ).format("DD MMM, YYYY HH:mm A")}`;
        }
        return this.projectTester.latest_status;
      }
      // @TODO when user is not associated with test project this should be status of project itself.
      return "Running / Open";
    }
  },
  mounted: function() {
    axios
      .get(`/api/tester/user/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.projectTester = data;
        if (this.groupedIssues) {
          this.issues = data.groupedIssues;
        }
      })
      .catch(function(error) {});
    axios
      .get(`/api/projects/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.testProject = data;
        this.testProject.selected_devices = data.devices.map(({ id }) => id);
        return axios.get(`/api/projects/${this.testProject.id}/my-ratings`);
      })
      .then(({ data }) => {
        const groups = _.groupBy(data, "collection_name");
        const ratings = {};
        Object.keys(groups).forEach(
          k => (ratings[k] = _.pick(groups[k][0], ["score", "suggestion"]))
        );
        this.ratings = ratings;
      })
      .catch(function(error) {});
  },
  methods: {
    removeField: function(type, event) {
      if (type == "high") {
        this.totalHighTypeIssues--;
      } else if (type == "medium") {
        this.totalMediumTypeIssues--;
      } else if (type == "low") {
        this.totalLowTypeIssues--;
      } else if (type == "cosmetic") {
        this.totalCosmeticTypeIssues--;
      } else if (type == "other") {
        this.totalOtherTypeIssues--;
      } else {
      }
    },
    addField: function(type, event) {
      if (type == "high") {
        this.totalHighTypeIssues++;
      } else if (type == "medium") {
        this.totalMediumTypeIssues++;
      } else if (type == "low") {
        this.totalLowTypeIssues++;
      } else if (type == "cosmetic") {
        this.totalCosmeticTypeIssues++;
      } else if (type == "other") {
        this.totalOtherTypeIssues++;
      } else {
      }
    },
    addexplanation: function(event) {
      console.log(event.target);
    },
    reviewProject: function(event) {
      axios
        .post(`/api/tester/update-test-status/${this.$route.params.id}`, {
          test_status: "REVIEW",
          issues: this.issues,
          project_id: this.$route.params.id
        })
        .then(response => {
          if (response.data.success) {
            this.$router.push({ name: "tester.project-view-submission" });
          }
        })
        .catch(function(error) {});
    },
    saveData: function() {
      let requestData = {
        email: this.$store.state.user.email,
        project_question_answers: this.answer_map,
        issues: this.issues,
        project_id: this.$route.params.id
      };
      axios
        .put(`/api/tester/${this.$store.state.user.id}`, requestData)
        .then(response => {
          this.$router.push({ name: "tester.dashboard" });
        })
        .catch(error => (this.errors = error.response.data.message));
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../layouts/css/_customvariables";
.text-green {
  color: #2cac3d;
}
.text-red {
  color: #e63423;
}
.text-bold {
  font-family: $font-family-brandon-bold !important;
}
.text-medium {
  font-family: $font-family-brandon-medium;
}
.white-box {
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
  color: #606368;
  .block-title {
    font-size: 18px;
    font-family: $font-family-UniNeue-bold;
    border-bottom: 1px solid #dadada;
    color: #606368;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: auto;
    .badge-wrap {
      border: 1px solid #2cac3d;
      background-color: #2cac3d;
      color: #fff;
      font-size: 16px;
      right: -5px;
      position: absolute;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      padding: 2px 12px;
      top: -5px;
      font-family: $font-family-brandon-regular;
    }
  }
  .test-device-list {
    span {
      margin-right: 15px;
      margin-top: 10px;
    }
  }
  .tester-issues-tab {
    .line-seprator {
      margin: 0 0 20px;
    }
    .issue-block {
      .issue-type {
        margin-bottom: 0px;
        font-size: 18px;
      }
      .form-group {
        .form-control {
          margin-bottom: 20px;
        }
        .remove-icon {
          color: #606368;
          i {
            font-size: 34px;
          }
        }
      }
    }
  }
  .tester-attachment-tab {
    .add-files-btn {
      width: 160px;
      float: right;
      margin-top: 0;
      margin-bottom: 20px;
      input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .attachment-table-wrap {
      .attachment-table {
        border-radius: 6px;
        margin-bottom: 0;
        tr {
          td {
            &:first-child {
              min-width: 60px;
              max-width: 60px;
              width: 60px;
              text-align: center;
            }
            &:last-child {
              min-width: 130px;
              max-width: 130px;
              width: 130px;
              display: table-cell;
            }
            &:nth-child(3) {
              min-width: 160px;
              max-width: 160px;
              width: 160px;
              display: table-cell;
              text-align: center;
            }
            a {
              margin-right: 10px;
              color: #1f1f1f;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .tester-rating-tab {
    .total-score-txt {
      font-size: 20px;
      font-family: $font-family-UniNeue-bold;
      color: #363e48;
      text-align: center;
      width: 100%;
      margin-bottom: 15px;
      .effective-badge {
        font-family: $font-family-brandon-regular;
        color: #fff;
        font-size: 12px;
        background-color: #4be05e;
        border: 1px solid #2cac3d;
        border-radius: 16px;
        padding: 1px 8px;
        vertical-align: middle;
        margin-bottom: 5px;
        display: inline-block;
      }
    }
    .custom-accordion {
      border: none;
      &:hover {
        box-shadow: none;
      }
      .card-header {
        padding: 0 !important;
        border-bottom: none;
        &:hover {
          outline: none !important;
        }
        a.collapsed {
          border: 2px solid #118921;
          background-color: #2cac3d;
          color: #fff;
          border-radius: 6px;
          &:before {
            background-image: url("~img/right-arrow.png");
          }
          span {
            color: #fff;
          }
          img {
            display: inline-block;
            vertical-align: initial;
          }
        }
        a {
          padding: 10px 20px !important;
          padding-left: 35px !important;
          border-radius: 0px;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          text-align: left;
          color: #2cac3d;
          font-family: $font-family-UniNeue-heavy;
          font-size: 16px;
          text-align: left;
          text-transform: uppercase;
          background-color: #f2f2f2;
          // border: 1px solid #dadada;
          // border-bottom: none;
          border: none !important;
          &:before {
            background-image: url("~img/down-arrow.png");
            content: "";
            position: absolute;
            left: 15px;
            top: 15px;
            height: 14px;
            width: 14px;
            background-size: 100%;
            background-position: center;
          }
          span {
            float: right;
            font-family: $font-family-brandon-bold;
            font-size: 16px;
            text-transform: none;
            color: #2f2f2f;
          }
        }
      }
      .card-body {
        padding: 0 10px 10px;
        background-color: #f2f2f2;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        .detail-block-wrap {
          background-color: #fff;
          border: 1px solid #dadada;
          padding: 15px;
          border-radius: 6px;
          h4 {
            font-size: 18px;
            color: #2cac3d;
            font-family: $font-family-brandon-bold;
          }
          .detail-block {
            font-family: $font-family-brandon-medium;
            font-size: 14px;
            line-height: 16px;
            span {
              width: calc(100% / 3 - 5px);
              display: inline-block;
              vertical-align: top;
            }
          }
          .explanation-wrap {
            textarea {
              resize: none;
              padding: 0px 10px;
              font-size: 17px;
              color: #9c9c9c;
              &:hover,
              &:focus {
                outline: none !important;
              }
            }
          }
          .ratings-block {
            margin-top: 10px;
            img {
              width: 100%;
            }
          }
          .green-step-btn-wrap {
            .green-step-btn {
              margin: 0;
              margin-top: 30px;
              font-size: 12px;
              line-height: 14px;
              text-transform: uppercase;
              padding: 4px 8px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.green-step-btn {
  width: 100%;
  max-width: 180px;
  padding: 7px 10px;
  border: 2px solid #118921;
  background-color: #2cac3d;
  font-size: 14px;
  font-family: $font-family-brandon-medium;
  letter-spacing: 0.05rem;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin: 10px 15px 30px 0px;
  &:hover {
    background-color: #158f25;
    color: #fff;
    outline: none !important;
  }
}
@media screen and(max-width:1281px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        font-size: 16px;
      }
      .green-step-btn {
        font-size: 13px;
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .custom-container {
    .test-proj-fillup-page {
      .green-step-btn {
        font-size: 12px;
        letter-spacing: 0;
      }
      .white-box {
        font-size: 14px;
        .block-title {
          font-size: 18px;
          .badge-wrap {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and(max-width:991px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        padding: 15px;
        .block-title {
          .badge-wrap {
            right: 0;
          }
        }
      }
    }
  }
}
@media screen and(max-width:767px) {
  .custom-container {
    .test-proj-fillup-page {
      .status-bar {
        font-size: 14px;
      }
      .green-step-btn {
        margin: 10px 15px 10px 0;
        max-width: 175px;
      }
      .white-box {
        .block-title {
          .badge-wrap {
            right: 0;
            top: -3px;
          }
        }
        .proj-status {
          br {
            display: block;
          }
        }
        .notes-list {
          margin-bottom: 15px;
        }
        .proj-status.active {
          span {
            display: block !important;
          }
        }
        .tester-rating-tab {
          .custom-accordion {
            .card-header {
              a {
                font-size: 16px;
                padding: 10px !important;
                padding-left: 30px !important;
                &::before {
                  top: 15px;
                  left: 10px;
                }
                span {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .tester-issues-tab {
          .issue-block {
            .issue-type {
              font-size: 16px;
            }
            .form-group {
              .remove-icon {
                margin-top: 3px;
                display: block;
                i {
                  font-size: 24px;
                }
              }
            }
          }
        }
        .tester-attachment-tab {
          .add-files-btn {
            float: left;
            max-width: 100px;
            padding: 2px;
          }
          .attachment-table-wrap {
            .attachment-table {
              border-radius: 6px;
              tr {
                td {
                  &:nth-child(2) {
                    min-width: 320px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width:575px) {
  .custom-container {
    .step-page-title {
      font-size: 26px;
    }
    .test-proj-fillup-page {
      .white-box {
        font-size: 14px;
        line-height: 18px;
        .block-title.proj-name-wrap {
          padding-bottom: 40px;
          .proj-name {
            display: block;
            width: 100%;
            font-size: 20px;
          }
          .badge-wrap {
            position: relative;
            float: left;
            margin-left: -15px;
            margin-top: 15px;
            font-size: 13px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
          }
        }
        .proj-status {
          &:first-child {
            .proj-progress {
              &::before {
                width: calc(50% - 25px);
              }
            }
          }
          &:last-child {
            .proj-progress {
              &::after {
                width: calc(50% - 25px);
              }
            }
          }
        }
        .proj-status.active {
          .proj-progress {
            i {
              font-size: 28px;
              &::after {
                height: 13px;
                width: 13px;
                left: 5px;
                top: 5px;
              }
            }
          }
        }
        .proj-status.done-step {
          .proj-progress {
            i {
              font-size: 28px;
              &::after {
                height: 13px;
                width: 13px;
                left: 5px;
                top: 5px;
              }
            }
          }
        }
        .tester-rating-tab {
          .total-score-txt {
            font-size: 18px;
            margin-bottom: 20px;
          }
          .custom-accordion {
            .card-header {
              a {
                font-size: 14px;
                padding: 5px 10px !important;
                padding-left: 30px !important;
                &::before {
                  top: 9px;
                  left: 10px;
                }
                span {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .green-step-btn {
      margin: 10px 15px 10px 0;
    }
  }
}
@media screen and(max-width:360px) {
  .custom-container {
    .test-proj-fillup-page {
      .white-box {
        .tester-rating-tab {
          .total-score-txt {
            font-size: 14px;
            margin-bottom: 15px;
          }
          .custom-accordion {
            .card-header {
              a {
                font-size: 13px;
                padding-left: 20px !important;
                &::before {
                  top: 10px;
                  left: 6px;
                  height: 10px;
                  width: 10px;
                }
                span {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>