<template>
  <div class="row align-items-center">
    <div class="col-12 col-md-9 col-xl-10 xl-border-right">
      <div class="row">
        <div class="col-9 col-sm-10 col-xl-11">
          <router-link tag="a" :to="{ name:'tester.project.view', params:{ id: testerProject.id } }" class="text-bold active-proj-name" >{{ testerProject.name }} </router-link>
        </div>
        <div class="col-3 col-sm-2 col-xl-1 text-right">
          <span class="text-green text-bold proj-price">{{ testerProject.amount ? '$' + testerProject.amount : '' }}</span>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
          <p>
            <span class="text-bold">Device :</span>
            <span v-for="device in testerProject.devices" class="device-list" >
              <img v-b-tooltip.hover :title="device.name" :src="device.icon" class="image-responsive device-image"/>
            </span>
          </p>
          <p>
            <span class="text-bold">Type :</span>
            <span class="">{{ testerProject.project_type ? testerProject.project_type.name : '' }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-xl-2 btn-wrap">
      <router-link tag="a" :to="{ name:'tester.project.view', params:{ id: testerProject.id } }" class="green-step-btn" >
        Accept Project
      </router-link>
    </div>
    <!-- <hr class="seprator"> -->
  </div>
</template>

<script>
export default {
  name: 'test_active_project_item',
  props: {
    testerProject: { 
      type: Object,
      required: true
    }
  },
}
</script>
<style lang="scss" scoped>

</style>