// Import Variables
@import "variables";

// Spacing Helpers
@import "spacing";

// Utility Helpers
@import "utilities";

// HTML Elements
@import "elements/alerts";
@import "elements/buttons";
@import "elements/forms";
@import "elements/images";
@import "elements/navbar";
@import "elements/panels";
@import "elements/tables";

// Component Styling
@import "components/notifications";
@import "components/plans";
@import "components/settings";
@import "components/terms";

// Component Styling
@import "custom/datatables";

// Body Styling
body {
	font-weight: 300;
}

// Vue Cloak
[v-cloak] {
    display: none;
}
