
<template>
    <div :class="(className ? className + '-wrapper ' : '') + 'autocomplete-wrapper'">
    <input  type="text"
    :id="id"
    :class="(className ? className + '-input ' : '') + 'autocomplete-input' + ' form-control'"
    :placeholder="placeholder"
    v-model="type"
    @input="input(type)"
    @dblclick="showAll"
    @blur="hideAll"
    @keydown="keydown"
    @focus="focus"
    autocomplete="off" />

<div :class="(className ? className + '-list ' : '') + 'autocomplete transition autocomplete-list'" v-show="showList">
<ul>
    <li v-for="(data, i) in json"
        transition="showAll"
    :class="activeClass(i)">

    <a  href="#"
    @click.prevent="selectList(data)"
    @mousemove="mousemove(i)">
    <b>{{ data[anchor] }}</b>
    <span>{{ data[label] }}</span>
</a>

</li>
</ul>
</div>
</div>
</template>


<script>

export default {

    props: {
        id: String,
        className: String,
        placeholder: String,

        // Index for multiple autocomplete
        index: {
            type: Number,
            required: true
        },

        // Custom Options
        options: {
            type: Array,
        },

        // Intial Value
        initValue: {
            type: String,
            default: ""
        },

        // Anchor of list
        anchor: {
            type: String,
            required: true
        },

        // Label of list
        label: String,

        // Callback
        onInput: Function,
        onShow: Function,
        onBlur: Function,
        onHide: Function,
        onFocus: Function,
        onSelect: Function,

    },

    data() {
        return {
            showList: false,
            type: "",
            json: [],
            focusList: ""
        };
    },


    methods: {

        // Netralize Autocomplete
        clearInput() {
            this.showList = false
            this.type = ""
            this.json = []
            this.focusList = ""
        },

        // Get the original data
        cleanUp(data){
            return JSON.parse(JSON.stringify(data));
        },

        input(val){
            this.showList = true;

            // Callback Event
            this.onInput ? this.onInput(val, this.index) : null

            // Get The Data
            this.getData(val)
        },

        showAll(){
            this.json = [];

            this.getData("")

            // Callback Event
            this.onShow ? this.onShow() : null

            this.showList = true;
        },

        hideAll(e){
            // Callback Event
            this.onBlur ? this.onBlur(e) : null

            setTimeout(() => {

                // Callback Event
                this.onHide ? this.onHide() : null

                this.showList = false;
            },250);
        },

        focus(e){
            this.focusList = 0;

            // Callback Event
            this.onFocus ? this.onFocus(e) : null
        },

        mousemove(i){
            this.focusList = i;
        },

        keydown(e){
            let key = e.keyCode;

            // Disable when list isn't showing up
            if(!this.showList) return;

            switch (key) {
                case 40: //down
                    this.focusList++;
                    break;
                case 38: //up
                    this.focusList--;
                    break;
                case 13: //enter
                    this.selectList(this.json[this.focusList])
                    this.showList = false;
                    break;
                case 27: //esc
                    this.showList = false;
                    break;
            }

            // When cursor out of range
            let listLength = this.json.length - 1;
            this.focusList = this.focusList > listLength ? 0 : this.focusList < 0 ? listLength : this.focusList;

        },

        activeClass(i){
            return {
                'focus-list' : i == this.focusList
            };
        },

        selectList(data){
            let clean = this.cleanUp(data);

            // Put the selected data to type (model)
            this.type = clean[this.anchor];

            this.showList = false;

            /**
             * Callback Event
             * Deep clone of the original object
             */
            this.onSelect ? this.onSelect(clean, this.index) : null
        },

        getData(val){
            if(this.options.length !== 0){
                let filtered = []
                this.options.forEach((item) => {
                    const indexedByAnchor = item[this.anchor].indexOf(val) !== -1
                    const indexedByLabel = item[this.label].indexOf(val) !== -1
                    if (indexedByAnchor || indexedByLabel) filtered.push(item)
                })
                if (filtered.length === 0) this.showList = false
                this.json = filtered;
            }
        },

        setValue(val) {
            this.type = val
        }
    },

    created(){
        // Sync parent model with initValue Props
        this.type = this.initValue ? this.initValue : null
    }

}

</script>



<style>

    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a{
    transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
}

    .autocomplete ul{
    position: relative;
    z-index: 9999;
    font-family: sans-serif;
    position: absolute;
    list-style: none;
    background: #f8f8f8;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    min-width: 15%;
    margin-top: 10px;
}

    .autocomplete ul:before{
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #f8f8f8;
    left: 46%;
    top: -20px
}

    .autocomplete ul li a{
    text-decoration: none;
    display: block;
    background: #f8f8f8;
    color: #2b2b2b;
    padding: 5px;
    padding-left: 10px;
}

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
    color: white;
    background: #2F9AF7;
}

    .autocomplete ul li a span{
    display: block;
    margin-top: 3px;
    color: grey;
    font-size: 13px;
}

    .autocomplete ul li a:hover span, .autocomplete ul li.focus-list a span{
    color: white;
}

    .showAll-transition{
    opacity: 1;
    height: 50px;
    overflow: hidden;
}

    .showAll-enter{
    opacity: 0.3;
    height: 0;
}

    .showAll-leave{
    display: none;
}

</style>
