<template>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="pull-right">
                <router-link :to="{name: 'admin.packages.add'}" class="btn purple-btn text-uppercase" > Add New Package </router-link>
            </h4>
        </div>
        <div class="col-lg-12">
            <b-card header="Packages" header-tag="h4" class="bg-primary-card">
                <div class="col-lg-12">
                    <div style="color: red" v-if="errors" >
                        <ul id="example-1">
                            <li :v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user.responsive">
                    <v-server-table ref="packageTable" url="/api/packages" :columns="columns" :options="options">
                        <div slot="actions" slot-scope="props">
                            <router-link :to="{ name: 'admin.packages.edit', params: { id: props.row.id }}" class="">
                              <img src="~img/edit_18x18.png" class="img-fluid"/>
                                <!-- <i class="fa fa-edit"></i> -->
                            </router-link>
                            <a href="javascript:;" @click.prevent="deletePackage(props.row.id)" class="">
                              <img src="~img/bin_18x18.png" class="img-fluid"/>
                              <!-- <i class="fa fa-trash"></i> -->
                            </a>
                        </div>
                    </v-server-table>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
import Vue from "vue";
import { ServerTable, Event } from "vue-tables-2";
Vue.use(ServerTable, {
  sortIcon: {
    base: "fa",
    up: "fa-chevron-up",
    down: "fa-chevron-down",
    is: "fa-sort"
  }
});

export default {
  name: "PackagesList",
  data() {
    return {
      errors: null,
      columns: [
        "name",
        "first_project_per_tester_charge",
        "regular_per_tester_charge",
        "discount",
        "created_at",
        "actions"
      ],
      options: {
        sortable: ["name"],
        orderBy: {
          column: "name",
          ascending: true
        },
        requestFunction: function(data) {
          return axios
            .get(this.url, {
              params: {
                ...data,
                order: data.ascending ? "asc" : "desc",
                column: this.orderBy.column
              }
            })
            .catch(
              function(e) {
                this.dispatch("error", e);
              }.bind(this)
            );
        },
        responseAdapter: function(response) {
          return {
            data: response.data.map(t => ({
              ...t,
              first_project_per_tester_charge: `$${
                t.first_project_per_tester_charge
              }`,
              regular_per_tester_charge: `$${t.regular_per_tester_charge}`,
              discount: `${
                t.discount_type
                  ? t.discount_type === 1
                    ? t.discount_amount + "%"
                    : "$" + t.discount_amount
                  : "N/A"
              }`
            })),
            count: response.meta.total
          };
        },
        dateColumns: ["created_at"]
      }
    };
  },
  methods: {
    deletePackage(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You want to delete the package?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          return axios
            .delete(`/api/packages/${id}`)
            .then(() => this.$refs.packageTable.refresh())
            .catch(e => (this.errors = e.response.message));
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";
.card-header {
  background: #5651b9;
}
.card.bg-primary-card {
  border: 1px solid #3e3a94;
}
.purple-btn {
  cursor: pointer;
  width: auto;
  background-color: #5651b9;
  border: 2px solid #3e3a94;
  color: #fff;
  font-size: 15px;
  line-height: 16px;
  font-family: $font-family-brandon-medium;
  border-radius: 20px !important;
  padding: 6px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  &:hover {
    outline: none !important;
    background-color: #3e3a94;
    color: #fff;
  }
  &:focus {
    outline: none !important;
    color: #fff;
  }
}
</style>