<template>
    <div>
      <div class="container custom-container">
        <div class="white-box">
          <div class="row">
            <div class="col-12">
              <h4 class="text-bold block-title proj-name-wrap">
                <span class="proj-name">{{this.testproject.name}} 
                  <span class="text-blue pl-3"> <{{this.testproject.publisher_id}}> </span>
                </span>
                <span class="badge-wrap text-right">
                  <span class="status-badge">
                    Status:
                  </span>
                </span>
              </h4>
            </div>
          </div>
          <div class="row pb-3 pb-md-4">
            <div class="col-md-4 col-12">
              <div class="">
                <span class="text-bold">Publisher : </span>
                <span> {{this.testproject.publisher_id}}</span>
              </div>
              <div class="">
                <span class="text-bold">Type : </span>
                <span> {{this.testproject.project_type_id}}</span>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="">
                <span class="text-bold">Start Date : </span>
                <span class="">{{this.testproject.start_date | date}}</span>
              </div>
              <div class="">
                <span class="text-bold">End Date : </span>
                <span class="">{{this.testproject.end_date | date}}</span>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="">
                <span class="text-bold">Total Tester Reviewed : </span>
                <span>8/10</span>
              </div>
              <div class="">
                <span class="text-bold">In app testing : </span>
                <span>1 hr 15 Minutes</span>
              </div>
            </div>
          </div>
          <div class="row pb-3 pb-md-4">
            <div class="col-12">
              <h4 class="text-bold block-title">Project Description
              </h4>
            </div>
            <div class="col-12">
              <p>{{this.testproject.project_description}}</p>
            </div>
          </div>
          <div class="row pb-3 pb-md-4">
            <div class="col-md-6">
              <h4 class="text-bold block-title">Links</h4>
              <div class="" v-for="link in testproject.links" :key="link.id" >
                <span class="font-bold">{{link.title}} : </span>
                <span class=""> <a :href="link.link" target="_blank" > {{ link.link }}</a> </span>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-bold block-title">Files</h4>
              <div class="" v-for="media in testproject.media" :key="media.id">
                <a :href="media.url" download> {{ media.name }} </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-bold block-title">Notes/Instruction</h4>
              <p class=""> {{this.testproject.notes_instruction}} </p>
            </div>
            <div class="col-md-6">
              <h4 class="text-bold block-title">Devices to test on</h4>
              <device-selector disabled v-model="testproject.selected_devices"></device-selector>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-4 text-center">
            <a href="#" class="btn grey-btn">Download PDF</a>
            <a href="#" class="btn grey-btn">View Invoices</a>
            <a href="#" class="btn purple-btn">VIew Testers</a>
            <a href="#" class="btn grey-btn">View Activities</a>
          </div>
        </div>
        <!-- <div class="white-box">
          <div class="row">
            <div class="col-12">
              <h4 class="text-bold block-title proj-name-wrap">
                <span class="proj-name"> Statistics</span>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12"> -->
               <project-statistics :errors="errors" v-model="testproject" ></project-statistics>
            <!-- </div>
          </div>
        </div> -->
        
        <div class="white-box">
          <div class="row">
          <div class="col-12">
            <h4 class="text-bold block-title">
              <span class="proj-name"> Project Report</span>
            </h4>
          </div>
        </div>
          <div class="row">
            <div class="col-12">
              <project-testing-process-review></project-testing-process-review>
            </div>
          </div>
        </div>
        <div class="white-box">
          <div class="row">
            <div class="col-12">
              <h4 class="text-bold block-title">
                <span class="proj-name"> Infographic</span>
              </h4>
            </div>
          </div>
            <div class="row">
              <div class="col-md-6 col-12 graph-wrap border-right">
                <h3 class="graph-title text-uppercase">Issues</h3>
                <img src="~img/pie-chart.png" class="img-fluid graph-img" />
              </div>
              <div class="col-md-6 col-12 graph-wrap">
                <h3 class="graph-title text-uppercase">Rating / scoring</h3>
                <img src="~img/bar-chart.png" class="img-fluid graph-img" />
              </div>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="text-bold block-title">
                  <span class="proj-name"> Testers (4)</span>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class=" testers-wrap">
                  <div class="row">
                    <div class="col-md-9 col-12">
                      <h4 class="text-bold tester-name">Tester Name1</h4>
                      <div class="">
                          <span class="text-yellow mr-3">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                          </span>
                          <span class="text-medium">
                            4.0 (Received by The Beta Plan)
                          </span>
                      </div>
                      <p>Hi, i am tester name , having 5 year experience in VR application testing  and VR ready devices</p>
                    </div>
                    <div class="col-md-3 col-12">
                      <span class="outline-badge green-outline-badge">
                        Successful Project : 7
                      </span>
                    </div>
                  </div>
                </div>
                <div class=" testers-wrap">
                  <div class="row">
                    <div class="col-md-9 col-12">
                      <h4 class="text-bold tester-name">Tester Name2</h4>
                      <div class="">
                          <span class="text-yellow mr-3">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                          </span>
                          <span class="text-medium">
                            4.0 (Received by The Beta Plan)
                          </span>
                      </div>
                      <p>Hi, i am tester name , having 5 year experience in VR application testing  and VR ready devices</p>
                    </div>
                    <div class="col-md-3 col-12">
                      <span class="outline-badge green-outline-badge">
                        Successful Project : 3
                      </span>
                    </div>
                  </div>
                </div>
                <div class=" testers-wrap">
                  <div class="row">
                    <div class="col-md-9 col-12">
                      <h4 class="text-bold tester-name">Tester Name3</h4>
                      <div class="">
                          <span class="text-yellow mr-3">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                          </span>
                          <span class="text-medium">
                            4.0 (Received by The Beta Plan)
                          </span>
                      </div>
                      <p>Hi, i am tester name , having 5 year experience in VR application testing  and VR ready devices</p>
                    </div>
                    <div class="col-md-3 col-12">
                      <span class="outline-badge green-outline-badge">
                        Successful Project : 2
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="text-bold block-title">
                  <span class="proj-name"> Project Activities</span>
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="activities-wrap">
                    Tester Name3 accepted this project on 12 January, 2018 4:20pm
                    <span class="text-bold pull-right text-sm-right text-left">Dated : 12 jan, 2018 | 4:20pm</span>
                </div>
                <div class="activities-wrap">
                    Tester Name2 rated this project as Effective - total points 75
                    <span class="text-bold pull-right text-sm-right text-left">Dated : 12 jan, 2018 | 4:20pm</span>
                </div>
                <div class="activities-wrap">
                    Tester Name3 accepted this project on 12 January, 2018 4:20pm
                    <span class="text-bold pull-right text-sm-right text-left">Dated : 12 jan, 2018 | 4:20pm</span>
                </div>
                <div class="activities-wrap">
                    Tester Name3 accepted this project on 12 January, 2018 4:20pm
                    <span class="text-bold pull-right text-sm-right text-left">Dated : 12 jan, 2018 | 4:20pm</span>
                </div>
              </div>
            </div>
          </div>
          <div class="white-box">
            <div class="row">
              <div class="col-12">
                <h4 class="text-bold block-title">
                  <span class="proj-name"> Amount for Testers</span>
                </h4>
              </div>
            </div>
            <div class="project-block-wrap">
              <div class="row align-items-center">
                <div class="col-md-4 col-12 text-md-center text-left amt-block-wrap pb-2">
                  <p class="mb-3">
                    <span class="text-bold mr-2">
                      Project Total Amount :
                    </span>
                    <span class="text-bold text-red proj-amt">
                      $198
                    </span>
                  </p>
                  <p class="mb-3">
                    <span class="text-bold mr-2">
                      Total Tester Needed :
                    </span>
                    <span class="text-bold proj-amt">
                     {{ this.testproject.tester_needed }}
                    </span>
                  </p>
                  <p class="mb-0">
                    <span class="text-bold d-inline-block mr-2">
                      Allocate Tester :
                    </span>
                     <span class="text-bold proj-amt">
                      {{ this.testproject.tester_needed }}
                    </span>
                  </p>
                </div>
                <div class="col-md-4 col-12 text-md-center text-left amt-block-wrap">
                  <p class="pt-3 pb-1 text-bold">Amount for each Tester:
                  </p>
                  <p class="mb-2">
                    <span class="text-purple tester-amt">
                      $ 10
                    </span>
                  </p>
                </div>
                <div class="col-md-4 col-12 text-md-center text-left pb-2">
                  <p>
                    <span class="text-bold">
                      Total Payable Amount :
                    </span>
                    <span class="text-red proj-amt">
                      $50
                    </span>
                  </p>
                  <p class="mb-0">
                    <span class="text-bold">
                      Remaining Amount :
                    </span>
                    <span class="text-green proj-amt">
                      $148
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</template>

<script>
import DeviceSelector from "components/components/device-selector";
import ProjectTestingProcessReview from "components/components/project-testing-process-review";
import ProjectStatistics from "components/components/project-statistics";

export default {
  name: "view_project",
  components: {
    DeviceSelector,
    ProjectTestingProcessReview,
    ProjectStatistics
  },
   props: {
    value: {
      type: Object,
      required: true,
      default() {
        return {};
      }
    },
    disabled: {
      type: Boolean,
      default() {
        return false;
      }
    },
    errors: {
      type: Array,
      default() {
        return null;
      }
    }
  },
  data() {
    return {
      testproject: {},
      formstate: {},
      model: {},
      originalUser: {}
    };
  },
  mounted: function() {
    axios
      .get(`/api/projects/${this.$route.params.id}`)
      .then(({ data: { data } }) => {
        this.testproject = data;
        this.testproject.selected_devices = data.devices.map(({ id }) => id);
      })
      .catch(function(error) {});
  }
};
</script>

<style scoped>
.border-row-bottom {
  border-bottom: 1px solid #797979 !important;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
}
@media only screen and (min-width: 768px) {
  .border-right {
    border-right: 1px solid #ccc;
  }
}
.progress-o {
  background-color: rgba(204, 204, 204, 1);
  border: none;
  height: 5px;
  width: 20px;
}
.progress-rectangle {
  background-color: #f5a022;
  border: none;
  height: 5px;
  width: 20px;
}
.btn {
  border-radius: 0;
}
.font-12 {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.font-14 {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.font-bold-16 {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.font-bold-18 {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
.font-bold-20 {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.font-bold-24 {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
.font-bold-48 {
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}
.font-title-color {
  color: #666699;
}
.font-amount-color {
  color: #990000;
}
.font-amount-color-1 {
  color: #003399;
}
.font-amount-color-2 {
  color: #009933;
}
</style>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";

.custom-container{
  max-width: 100%;
  padding: 0;
  .text-green{
    color: #2cac3d;
  }
  .text-red{
    color: #e63423;
  }
  .text-yellow{
    color: #ffcc00;
  }
  .text-purple{
    color: #3e3a94;
  }
  .text-bold{
    font-family: $font-family-brandon-bold !important;
  }
  .text-medium{
    font-family: $font-family-brandon-medium;
  }
  .purple-btn{
    background-color: #5651b9;
    border: 2px solid #3e3a94;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    font-family: $font-family-brandon-medium;
    border-radius: 6px;
    padding: 7px 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    min-width: 160px;
    display: inline-block;
    min-height: 35px;
    margin-right: 10px;
    &:hover{
      outline: none !important;
      background-color: #3e3a94;
    }
    &:focus{
      outline: none !important;
    }
  }
  .grey-btn{
    background-color: #898a8c;
    border: 2px solid #7a7b7d;
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    font-family: $font-family-brandon-medium;
    border-radius: 6px;
    padding:7px 10px;
      min-width: 160px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: inline-block;
    min-height: 35px;
    margin-right: 10px;
    &:hover{
      outline: none !important;
      background-color: #7a7b7d;
    }
    &:focus{
      outline: none !important;
    }
  }
  .white-box{
    background-color: #fff;
    box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #606368;
    .block-title{
      font-size: 18px;
      font-family: $font-family-UniNeue-bold;
      border-bottom: 1px solid #dadada;
      color: #606368;
      padding-bottom: 10px;
      margin-bottom: 10px;
      width: auto;
      .badge-wrap{
        border: 1px solid #3e3a94;
        background-color: #5651b9;
        color: #fff;
        font-size: 16px;
        right: -5px;
        position: absolute;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        padding: 2px 12px;
        top: -5px;
        font-family: $font-family-brandon-regular;
      }
    }
    .proj-name-wrap{
      // padding-bottom: 30px;
      .proj-name{
        font-family: $font-family-UniNeue-bold;
        font-size: 24px;
        line-height: 18px;
        color: #3e3a94;
      }
    }
    .proj-desc{
      letter-spacing: 0.01rem;
      margin-bottom: 5px;
    }
    .notes-list{
      padding-left: 15px;
      margin-bottom: 0px;
      li{
        position: relative;
        &::before{
          content: "-";
          position: absolute;
          left: -15px;
          top: -1px;
          color: #606368;
          font-size: 20px;
        }
      }
    }
    .project-link{
      color: #2cac3d;
      text-decoration: underline !important;
    }
    .test-device-list{
      span{
        margin-right: 15px;
        margin-top: 10px;
      }
    }
    .graph-wrap{
      margin-top: 25px;
      .graph-title{
        font-size: 17px;
        color: #606368;
        font-family: $font-family-UniNeue-bold;
        padding-left: 40px;
      }
      .graph-img{
        margin: 0 auto;
        display: block;
      }
    }
    .graph-wrap.border-right{
      border-right: 1px solid #dadada;
    }
    .green-outline-badge{
      color: #2cac3d;
      border: 1px solid #2cac3d;
    }
    .outline-badge{
      padding: 3px 20px 3px 20px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      font-family: "BrandonTextBold";
      border-right: none;
      font-size: 15px;
      float: right;
      margin-right: -20px;
      margin-top: 10px;
    }
    .testers-wrap{
      border-bottom: 1px solid #dadada;
      margin-bottom: 15px;
      .tester-name{
        font-size: 18px;
        color: #363e48;
        font-family: $font-family-brandon-bold !important;
        margin-bottom: 10px;
      }
      span{
        i{
          font-size: 20px;
        }
      }
      &:last-child{
        border-bottom: none;
        margin-bottom: 0;
      }
    }
    .activities-wrap{
      padding: 10px 0;
      border-bottom: 1px solid #dadada;
      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .project-block-wrap{
      margin-top: 5px;
      font-family: $font-family-brandon-regular;
      font-size: 16px;
      color: #606368;
      position: relative;
      p{
        margin-bottom: 25px;
      }
      a{
        color: #14c1bf;
        text-decoration: underline !important;
      }
      .proj-amt{
        font-size: 25px; 
        font-family: $font-family-brandon-black;
      }
      .tester-amt{
        font-family: $font-family-brandon-black;
        font-size: 50px;
      }
      .form-group{
        max-width: 80%;
        margin: 0 auto;
        display: block;
      }
      .amt-block-wrap{
        position: relative;
        border-right: 1px solid #dadada;
      }
    }
  }
}
@media screen and(max-width:1199px) {
   .custom-container{
     .white-box{
        .project-block-wrap{
          p{
            margin-bottom: 15px;
          }
          .proj-amt{
            font-size: 22px;
          }
          .form-group{
            margin: 0;
            max-width: 50%;
          }
          .tester-amt{
            font-size: 44px;
          }
        }
     }
     .grey-btn{
       min-width: 120px;
     }
     .purple-btn{
       min-width: 120px;
     }
   }
}

@media screen and(max-width:1112px) {
  .custom-container{
    .white-box{
      .proj-name-wrap{
        .proj-name{
          font-size: 20px;
        }
      }
      .outline-badge{
        padding: 3px 10px 3px 10px;
      }
      .graph-wrap{
        .graph-title{
          font-size: 15px;
          padding-left: 20px;
        }
      }
       .project-block-wrap{
          .proj-amt{
            font-size: 20px;
          }
          .tester-amt{
            font-size: 40px;
          }
        }
    }
  }
}
@media screen and(max-width:991px) {
  .custom-container{
    .white-box{
      padding: 15px;
      .block-title{
        font-size: 16px;
        .badge-wrap{
          right: 0;
        }
      }
      .outline-badge{
        margin-right: -15px;
        font-size: 14px;
      }
    }
  }
}
@media screen and(max-width:767px) {
  .custom-container{
    .white-box{
      .outline-badge{
        margin-right: 0;
        font-size: 14px;
        float: left;
        border-bottom-right-radius: 16px;
        border-right: 1px solid;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
        margin-left: -15px;
        margin-bottom: 15px;
        margin-top: 0;
      }
      .activities-wrap{
        padding: 10px 0 30px;
      }
      .project-block-wrap{
        .amt-block-wrap{
          border-right: none;
        }
      }
    }
    .purple-btn,.grey-btn{
      font-size: 14px;
      min-width: 100px;
      margin-right: 10px;
      padding: 5px;
      min-height: 30px;
    }
  }
}
@media screen and(max-width:575px) {
  .custom-container{
    .grey-btn,.purple-btn{
      display: block;
      margin: 10px auto;
      max-width: 200px;
    }
    .white-box{
      .outline-badge{
        padding: 0 10px 0 10px;
      }
      
      .proj-name-wrap{
        font-size: 16px;
        padding-bottom: 55px;
        .proj-name{
          font-size: 18px;
          width: 100%;
          float: left;
          position: relative;
          margin-bottom: 10px;
        }
      }
      .block-title{
        .badge-wrap{
          right: 0;
          position: relative;
          width: 100%;
          float: left;
          left: 0;
          border-bottom-right-radius: 16px;
          border-bottom-left-radius: 0;
          border-top-right-radius: 16px;
          border-top-left-radius: 0;
          margin-left: -15px;
          font-size: 14px;
        }
      }
    }
  }
}
</style>