<template>
    <div>
        <div class="row">
            <div class="col-md-12 mb-5">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card box_shadow pb-5" >
                          <div class="card-header bg-white border-0">
                              <label class="font-24">Test Projects</label>
                          </div>
                          <div class="card-body">
                              <div class="border-row-bottom mb-4">
                                  <div class="row">
                                      <div class="col-md-12 pb-3">
                                          <span class="font-bold-16 font-title-color">{{ testProject.name }}</span>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6 text-left">
                                          <ul class="pl-0">
                                              <li>
                                                  <label class="font-bold-12">Publisher: </label>
                                                  <span class="font-12">{{ originalUser.name }}</span>
                                              </li>
                                              <li>
                                                  <label class="font-bold-12">Devices: </label>
                                                  <span class="font-12">Cardboard, Oculus Rift</span>
                                              </li>
                                              <li>
                                                  <label class="font-bold-12">Type: </label>
                                                  <span class="font-12">{{ testProject.project_type ? testProject.project_type.name : '' }}</span>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="col-md-3 text-center">
                                      </div>
                                      <div class="col-md-3 text-right">
                                          <ul>
                                              <li>
                                                  <label class="font-bold-12">Start Date: </label>
                                                  <span class="font-12">{{ testProject.start_date | date}}</span>
                                              </li>
                                              <li>
                                                  <label class="font-bold-12">End Date: </label>
                                                  <span class="font-12">{{testProject.end_date | date}}</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="row">
                                  <div class="col-md-12 text-center">
                                    <a href="javascript:;" @click="acceptProjectSubmission(testProject)" class="btn btn-success text-white">
                                        <i class="fa fa-check"></i>Accept
                                    </a>
                                    <a href="javascript:;" @click.prevent="rejectProjectSubmission(testProject)" class="btn btn-danger text-white"><i class="fa fa-times"></i> Reject </a>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "project_view",
  data(){
    return {
        testProject: {},
        originalUser: {},
    }
  },
  mounted: function() {
    this.loadProject();
    this.originalUser = window.USER;
    if (this.originalUser.name == null) {
      this.originalUser.name = this.originalUser.full_name;
    }
  },
  methods: {
    loadProject(){
        axios
        .get(`/api/projects/${this.$route.params.id}`)
        .then(({ data: { data } }) => {
            this.testProject = data;
        })
        .catch(function(error) {});
    
    },
    deleteTestProject(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You want to delete this project?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          return axios
            .delete(`/api/projects/${id}?test=1`)
            .then(() => this.loadProjects())
            .catch(e => (this.errors = e.response.message));
        }
      });
    },
    changeStatus(project, status) {
      return axios
        .post(`/api/test/${project.id}/status`, {
          status
        })
        .then(() => this.$router.push({ name: "admin.test_projects"}) );
    },
    acceptProjectSubmission(project) {
        this.$swal({
        title: "Are you sure?",
        text: "Are you sure you want to Approve?",
        icon: "warning",
        buttons: true
      }).then(willDelete => {
        if (willDelete) {
        return this.changeStatus(project, "TEST_PASSED");
        }
      });
     
    },
    rejectProjectSubmission(project) {
      this.$swal({
        title: "Are you sure?",
        text: "Are you sure you want to Reject?",
        icon: "warning",
        buttons: true
      }).then(willDelete => {
        if (willDelete) {
          return this.changeStatus(project, "TEST_FAILED");
        }
      });
    }
  }
}
</script>