<style>
.red-asterisk {
  color: red;
}
</style>
<template>
<div id="scroll-top" class="row">
    <div class="col-lg-12">
        <b-card :header="header" header-tag="h4" class="bg-success-card">
         <div class="row">
                    <div style="color: red" v-if="errors" >
                        <ul id="example-1">
                            <li v-for="error in errors">
                            {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="row">

                <div class="col-lg-7 col-12 mb-3">
                    <vue-form class="form-horizontal form-validation" :state="formstate" @submit.prevent="onSubmit">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="email"> First name <span class="input-required">*</span></label>
                                    <input v-model="model.first_name" name="first_name" type="text" required autofocus placeholder="First name" class="form-control" />
                                    <field-messages name="first_name" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">First name is a required field</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="email"> Last name<span class="input-required">*</span></label>
                                    <input v-model="model.last_name" name="last_name" type="text" required autofocus placeholder="Last name" class="form-control" />
                                    <field-messages name="last_name" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">Last name is a required field</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="email"> E-mail<span class="input-required">*</span></label>
                                    <input v-model="model.email" name="email" type="email" autocomplete="off" required placeholder="E-mail" class="form-control" />
                                    <field-messages name="email" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">Email is a required field</div>
                                        <div slot="email">Email is not valid</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="password"> Password<span class="input-required">*</span> </label>
                                    <input v-model="model.password" name="password" autocomplete="off" type="password" :required="!model.id" placeholder="Password" class="form-control" />
                                    <field-messages name="password" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">Password is a required field</div>
                                        <div slot="password">Password is not valid</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="confirm_password">Confirm password<span class="input-required">*</span> </label>
                                    <input v-model="model.confirm_password" autocomplete="off" name="confirm_password"  type="password" :required="!model.id" placeholder="Confirm password" class="form-control" :sameas="model.password" />
                                    <field-messages name="confirm_password" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">Confirm password is a required field</div>
                                        <div slot="sameas">Password and Confrim password must match</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="mobile">Phone number</label>
                                    <input v-model="model.mobile_no" name="mobile" type="mobile" placeholder="Phone number" class="form-control" pattern="[0-9]{10}" />
                                    <field-messages name="mobile" show="$invalid && $submitted" class="text-danger">
                                        <div slot="pattern">Phone number is not valid</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="name">Date of birth<span class="input-required">*</span></label>
                                    <datepicker initial-view="year" input-class="form-control" :format="'dd MMM yyyy'" v-model="model.date_of_birth" name="dob" required></datepicker>
                                    <field-messages name="dob" show="$invalid && $submitted" class="text-danger">
                                        <div slot="required">Date of Birth is a required field</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="name">Gender<span class="input-required">*</span></label>
                                    <select id="gender" name="gender" size="1" class="form-control" v-model="model.gender" required checkbox>
                                        <option value="0" selected disabled>
                                            Please select
                                        </option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <field-messages name="gender" show="$invalid && $submitted" class="text-danger">
                                        <div slot="checkbox">Gender is required</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="city">City</label>
                                    <input name="city" type="text" placeholder="City" class="form-control" v-model="model.city" />
                                    <field-messages name="city" show="$invalid && $submitted" class="text-danger">
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="country_id">Country<span class="input-required">*</span></label>
                                    <select id="country_id" name="country_id" required size="1" class="form-control" v-model="model.country_id" checkbox>
                                        <option value="0" selected disabled>
                                            Please select
                                        </option>
                                        <option v-for="country in aCountries " :value="country.id"> {{ country.name }} </option>
                                    </select>
                                    <field-messages name="country_id" show="$invalid && $submitted" class="text-danger">
                                        <div slot="checkbox">Country is required</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div>
                        <div class="col-lg-12" v-if="$route.params.id">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="status">Status</label> <br/>
                                    <label class="radio-inline">
                                        <input type="radio" name="is_active" v-model="model.is_active" class="form-control" value="Active" />Active
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="is_active" v-model="model.is_active" class="form-control" value="Deactive" />Deactive
                                    </label>
                                </validate>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="form-group">
                                <validate tag="div">
                                    <label for="pin">PinCode</label>
                                    <input name="pin" type="text" placeholder="PIN" class="form-control" pattern="[0-9]{6}" v-model="model.pin_code" />
                                    <field-messages name="pin" show="$invalid && $submitted" class="text-danger">
                                        <div slot="pattern">PIN is not valid</div>
                                    </field-messages>
                                </validate>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-12" v-if="!model.id">
                            <div class="form-group ">
                                <div class="checkbox">
                                    <validate tag="label">
                                        <label class="form-group custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input checkbox_label" name="terms" id="terms" v-model="model.terms" checkbox>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">I agree the
                            <span>
                            <router-link to="/">terms &amp; conditions</router-link></span></span>
                                        </label>
                                        <field-messages name="terms" show="$invalid && $submitted" class="text-danger">
                                            <div slot="checkbox">Terms must be accepted</div>
                                        </field-messages>
                                    </validate>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-offset-4 col-md-8 m-t-25" >
                            <button type="submit" class="btn btn-primary">Submit
                            </button>
                            <button type="reset" class="btn btn-effect-ripple btn-secondary reset_btn1" @click="form_reset">
                                Reset
                            </button>
                            <router-link :to="{ name: 'admin.tester' }" >Back to testers</router-link>
                        </div>
                    </vue-form>
                </div>
            </div>
        </b-card>
    </div>
</div>
</template>
<script>
import Vue from "vue";
import VueForm from "vue-form";
import options from "src/validations/validations.js";
Vue.use(VueForm, options);
var VueScrollTo = require('vue-scrollto');
Vue.use(VueScrollTo, {
  container: "body",
  duration: 500,
  easing: "ease",
  offset: -100,
  cancelable: true,
  onDone: false,
  onCancel: false,
  x: false,
  y: true
});
const cleanData = {
  username: "",
  email: "",
  mobile_no: "",
  gender: 0,
  date_of_birth: "",
  password: "",
  confirm_password: "",
  address: " ",
  city: "",
  country_id: 0,
  pin: "",
  terms: false,
  is_active: 'Active',
};
export default {
  name: "add_user",
  data() {
    return {
      formstate: {},
      header: this.$route.params.id ? "Edit Tester" : "Add Tester",
      model: { ...cleanData },
      errors: null,
      old_file: "",
      originalUser: {},
      aCountries: {}
    };
  },
  methods: {
    onSubmit: function() {
      if (this.formstate.$invalid) {
        VueScrollTo.scrollTo('#scroll-top');
        return;
      } else {
        let p;
        this.errors = null;
        const requestData = { ...this.model };
        delete requestData.devices;
        requestData.status = requestData.is_active;
        requestData.date_of_birth = requestData.date_of_birth.toMysql();
        if (this.model.id) {
          p = axios.put(`/api/tester/${this.model.id}`, requestData);
        } else {
          p = axios.post("/api/tester", requestData);
        }
        p
          .then(response => this.$router.push({ name: "admin.tester" }))
          .catch(error => {
            if (Array.isArray(error.response.data.message)) {
              this.errors = error.response.data.message;
            } else {
              this.errors = [error.response.data.message];
            }
          });
      }
    },
    form_reset() {
      this.errors = null;
      if (this.model.id) {
        return (this.model = this.originalUser);
      } else {
        this.model = { ...cleanData };
        this.$refs.user_image.removeAllFiles();
      }
    }
  },
  mounted: function() {
    if (this.$route.params.id) {
      axios
        .get(`/api/tester/${this.$route.params.id}`)
        .then(({ data: { data } }) => {
          this.model = data;
          this.model.date_of_birth = new Date(this.model.date_of_birth);
          this.model.is_active = this.model.is_active ? 'Active' : undefined;
          if(this.model.status.name == 'Deactive') {
            this.model.is_active = "Deactive";
          }
          this.originalUser = data;
        })
        .catch(function(error) {
          console.info(error);
        });
    }

    axios
      .get("/api/getCountries")
      .then(response => {
        this.aCountries = response.data;
      })
      .catch(function(error) {});
  },
  destroyed: function() {}
};
</script>
<style scoped>
.dropzone_wrapper {
  width: 100%;
  height: 300px;
}
</style>
