<template>
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="alert text-center orange-alertwrap">
           This Project is approved but payment from publisher_name is remaining
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-4 mt-2 white-box ">
            <h4 class="chart-title">
              Basic Information
            </h4>
            <div class="project-block-wrap detail-information">
              <div class="row text-left">
                <div class="col-md-6 col-12">
                  <p class="">
                    <span class="text-bold"> Publisher Name :
                    </span>
                    Publisher_name
                  </p>
                  <p class="">
                    <span class="text-bold"> Project Title :
                    </span>
                    Project Name
                  </p>
                  <p class="">
                    <span class="text-bold"> Type :
                    </span>
                    VR Game
                  </p>
                  <p class="">
                    <span class="text-bold"> Start Date :
                    </span>
                    20 January,2018
                  </p>
                  <p class="">
                    <span class="text-bold"> End Date :
                    </span>
                    25 January,2018
                  </p>
                </div>
                <div class="col-md-6 col-12">
                  <p class="">
                    <span class="text-bold"> Time to Test(Approx) :
                    </span>
                    1 hr 30 min
                  </p>
                  <p class="">
                    <span class="text-bold"> Tester Needed :
                    </span>
                    <span class="text-bold text-red">5</span>
                  </p>
                  <p class="">
                    <span class="text-bold"> Project Total Amount :
                    </span>
                    <span class="text-bold text-red">$198</span>
                  </p>
                  <p class="">
                    <span class="text-bold d-inline-block"> Devices to test on :
                    </span>
                    <span class="d-inline-block">
                      <img src="~img/test-device-1.png" class="img-fluid mr-2 mr-lg-3 mr-xl-4"/>
                      <img src="~img/test-device-2.png" class="img-fluid mr-2 mr-lg-3 mr-xl-4"/>
                      <img src="~img/test-device-3.png" class="img-fluid mr-2 mr-lg-3 mr-xl-4"/>
                      <img src="~img/test-device-4.png" class="img-fluid mr-2 mr-lg-3 mr-xl-4"/>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-2 white-box ">
        <div class="row">
          <div class="col-12">
            <h4 class="chart-title">
              Project Description
            </h4>
            <div class="project-block-wrap">
              <p>
                The project description goes here, and this project will have a number of testers, testing based on usability, bug detection and overall fun factor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the. Number of testers, testing based on usability, bug detection and overall fun factor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
              </p>
            </div>
          </div>
          <div class="col-12">
            <h4 class="chart-title">
              Links:
            </h4>
            <div class="project-block-wrap">
              <p>
                <span class="text-bold">
                  Project Packages:
                </span>
                <a href="#" class="">
                  http://www.projectlink.com
                </a>
              </p>
            </div>
          </div>
          <div class="col-12">
            <h4 class="chart-title">
              Notes/Instruction :
            </h4>
            <div class="project-block-wrap">
              <p class="mb-3 text-bold">
                This is instruction to be followed while testing.
              </p>
              <ul class="pl-0">
                <li>
                  1. constant use app until you don not complete it
                </li>
                <li>2. make a not on each module you test</li>
                <li>3. so on</li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <h4 class="chart-title">
              Files :
            </h4>
            <div class="project-block-wrap">
              <p class="mb-0">
                <img src="~img/pdf-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/doc-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/png-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/ppt-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/mp4-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/xls-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/jpg-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
                <img src="~img/txt-icon.png" class="img-fluid mr-2 mb-2 mb-sm-0" />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-2 white-box ">
        <div class="row">
          <div class="col-12">
            <h4 class="chart-title">
              Questions
            </h4>
            <div class="project-block-wrap">
              <p class="mt-2">Your Questions to Testers which they have to fil up while submitting test Result</p>
              <p>
                <span class="text-bold">
                  Question 1 :
                </span>
                <span class="text-medium">
                   Did you like the ambient sounds?
                </span>
              </p>
              <p>
                <span class="text-bold">
                  Question 2 :
                </span>
                <span class="text-medium">
                   Were you able to access all areas?
                </span>
              </p>
              <p>
                <span class="text-bold">
                 Question 3 :
                </span>
                <span class="text-medium">
                  Are there changes you would like to see?
                </span>
              </p>
              <p>
                <span class="text-bold">
                 Question 4 :
                </span>
                <span class="text-medium">
                  Would you pay for this app? How much?
                </span>
              </p>
              <p class="mb-0">
                <span class="text-bold">
                 Question 5 :
                </span>
                <span class="text-medium">
                   Would you refer to your friends as it is today?
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 mt-2 white-box ">
        <div class="row">
          <div class="col-12">
            <h4 class="chart-title">
              Amount for Testers
            </h4>
            <div class="project-block-wrap">
              <div class="row align-items-center">
                <div class="col-md-4 col-12 text-md-center text-left amt-block-wrap mb-2 mb-md-0">
                  <p class="mb-3">
                    <span class="text-bold mr-2">
                      Project Total Amount :
                    </span>
                    <span class="text-bold text-red proj-amt">
                      $198
                    </span>
                  </p>
                  <p class="mb-3">
                    <span class="text-bold mr-2">
                      Total Tester Needed :
                    </span>
                    <span class="text-bold proj-amt">
                      5
                    </span>
                  </p>
                  <p class="mb-0">
                    <span class="text-bold d-inline-block mr-2">
                      Allocate Tester :
                    </span>
                     <span class="text-bold proj-amt">
                      5
                    </span>
                  </p>
                </div>
                <div class="col-md-4 col-12 text-md-center text-left amt-block-wrap">
                  <p class="pt-3 mb-2 text-bold">Amount for each Tester:
                  </p>
                  <p class="mb-2">
                    <span class="text-purple tester-amt">
                      $ 10
                    </span>
                  </p>
                </div>
                <div class="col-md-4 col-12 text-md-center text-left mb-2 mb-md-0">
                  <p>
                    <span class="text-bold">
                      Total Payable Amount :
                    </span>
                    <span class="text-red proj-amt">
                      $50
                    </span>
                  </p>
                  <p class="mb-0">
                    <span class="text-bold">
                      Remaining Amount :
                    </span>
                    <span class="text-darkgreen proj-amt">
                      $148
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="#" class="grey-btn">Back To Projects</a>
        </div>
      </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import successAlert from 'components/pages/admin-success-alert.vue';

    export default {
        name: "Dashboard",
        components:{
          successAlert
        },
         data() {
          return{
            visible : false
          }
        }
    }
</script>
<!-- styles -->
<!-- adding scoped attribute will apply the css to this component only -->

<style lang="scss" scoped>
@import "../layouts/css/customvariables";

    .custom-container{
      max-width: 100%;
      margin: 0 auto;
    }
    .page-title{
      font-size: 30px;
      color: #363e48; 
      font-family: $font-family-UniNeue-bold;
    }
    .text-yellow{
      color: #ffcc00;
    }
    .text-orange{
      color: #ff8a0e;
    }
    .text-green{
      color: #02c505;
    }
    .text-darkgreen{
      color: #2cac3d;
    }
    .text-purple{
      color: #3e3a94;
    }
    .text-red{
      color: #f83636;
    }
    .text-bold{
      font-family: $font-family-brandon-bold;
    }
    .text-medium{
      font-family: $font-family-brandon-medium;
    }
   
    .grey-btn{
      background-color: #898a8c;
      border: 2px solid #7a7b7d;
      color: #fff;
      font-size: 15px;
      line-height: 16px;
      font-family: $font-family-brandon-medium;
      border-radius: 6px;
      padding:10px;
       min-width: 160px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;
      display: inline-block;
      min-height: 40px;
      &:hover{
        outline: none !important;
        text-decoration: underline !important;
      }
      &:focus{
        outline: none !important;
      }
    }
    .orange-alertwrap{
      color: #fff;
      border: 2px solid #ff7802;
      background-color: #ff7802;
      font-family: $font-family-brandon-medium;
      border-radius: 4px;
      font-size: 18px;
      padding: 5px;
    }
    .white-box{
      background-color: #fff;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-family: $font-family-brandon-medium;
      font-size: 15px;
      color: #606368;
      padding: 15px;
      border-radius: 4px;
      letter-spacing: 0 !important;
      .chart-title{
        text-align: left;
        font-size: 20px;
        color: #3e3a94;
        border-bottom: 1px solid #dadada;
        padding-bottom: 15px;
        font-family: $font-family-UniNeue-bold;
        margin-bottom: 15px;
      }
      .project-block-wrap{
        margin-top: 5px;
        font-family: $font-family-brandon-regular;
        font-size: 16px;
        color: #606368;
        position: relative;
        p{
          margin-bottom: 25px;
        }
        a{
          color: #14c1bf;
          text-decoration: underline !important;
        }
        .proj-amt{
          font-size: 25px; 
          font-family: $font-family-brandon-black;
        }
        .tester-amt{
          font-family: $font-family-brandon-black;
          font-size: 50px;
        }
        .form-group{
          max-width: 80%;
          margin: 0 auto;
          display: block;
        }
        .amt-block-wrap{
          position: relative;
          border-right: 1px solid #dadada;
        }
      }
      .detail-information{
        p{
          span{
            min-width: 170px;
            display: inline-block;
          }
          span.text-red{
            font-size: 20px;
          }
        }
      }
    }
@media screen and(max-width:1199px) {
  .white-box{
      .detail-information{
        p{
          span{
            min-width: 145px;
            margin-bottom: 5px;
            line-height: 16px;
          }
        }
      }
      .project-block-wrap{
        p{
          margin-bottom: 20px;
        }
        .proj-amt{
          font-size: 22px;
        }
        .form-group{
          margin: 0;
          max-width: 50%;
        }
      }
    }
    .orange-alertwrap{
      font-size: 16px;
    }
}
@media screen and(max-width:1112px) {
  .white-box{
    .chart-title{
      font-size: 18px;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .project-block-wrap{
      font-size: 14px;
      margin-top: 10px;
      .proj-title{
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
    .view-btn{
      margin: 10px 0 5px;
    }
    hr{
      margin-bottom: 0;
    }
  }
}
@media screen and(max-width:1024px) {
  .page-title{
    margin-top: 0 !important;
  }
  .sucess-alertwrap{
    font-size: 16px;
    .close{
      font-size: 30px;
    }
  }
  .white-box{
    padding: 15px;
    .view-profile-btn{
      margin: 10px 0;
    }
  }
}
@media screen and(max-width:767px) {
  .white-box{
    .project-block-wrap{
     p{
       margin-bottom: 10px;
     }
     .amt-block-wrap{
       border: none;
     }
    .tester-amt{
      font-size: 32px;
      line-height: 20px;
    }
    }
  }
}
@media screen and(max-width:576px) {
  .orange-alertwrap{
    font-size: 15px;
  }
  .white-box{
    .detail-information{
      p{
        span{
          min-width: 100%;
        }
      }
    }
  }
  .grey-btn,.purple-btn{
    min-width: 80px;
    font-size: 14px;
  }

}
</style>
