<template>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="pull-right">
                <router-link :to="{name: 'admin.projectType.add'}" class="btn btn-primary" > Add New Project type </router-link>
            </h4>
        </div>
        <div class="col-lg-12">
            <b-card header="Project type" header-tag="h4" class="bg-primary-card">
                <div class="col-lg-12">
                    <div style="color: red" v-if="errors" >
                        <ul id="example-1">
                            <li :v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="user.responsive">
                    <v-server-table ref="projectTypeTable" url="/api/project-type" :columns="columns" :options="options">
                        <div slot="actions" slot-scope="props">
                            <router-link :to="{ name: 'admin.projectType.edit', params: { id: props.row.id }}" class="">
                                <img src="~img/edit_18x18.png" class="img-fluid" />
                                <!-- <i class="fa fa-edit"></i> -->
                            </router-link>
                            <a href="javascript:;" @click.prevent="deleteType(props.row.id)" class="">
                                <img src="~img/bin_18x18.png" class="img-fluid" />
                                <!-- <i class="fa fa-trash"></i> -->
                            </a>
                        </div>
                    </v-server-table>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
    import Vue from "vue";
    import { ServerTable, Event } from "vue-tables-2";
    Vue.use(ServerTable, {
        sortIcon: {
            base: "fa",
            up: "fa-chevron-up",
            down: "fa-chevron-down",
            is: "fa-sort"
        }
    });

    export default {
        name: "projectType_list",
        data() {
            return {
                errors: null,
                columns: ["name", "status", "created_at", "actions"],
                options: {
                    sortable: ["name", "status", "created_at"],
                    orderBy: {
                        column: "created_at",
                        ascending: false
                    },
                    requestFunction: function(data) {
                        return axios
                            .get(this.url, {
                                params: {
                                    ...data,
                                    order: data.ascending ? "asc" : "desc",
                                    column:
                                        this.orderBy.column === "created_at"
                                            ? "created_at"
                                            : this.orderBy.column
                                }
                            })
                            .catch(
                                function(e) {
                                    this.dispatch("error", e);
                                }.bind(this)
                            );
                    },
                    responseAdapter: function(response) {
                        return {
                            data: response.data.map(t => ({
                                ...t,
                                created_at: t.created_at
                            })),
                            count: response.meta.total
                        };
                    },
                    dateColumns: ["created_at"]
                }
            };
        },
        methods: {
            deleteType(id) {
                this.$swal({
                    title: "Are you sure?",
                    text: "You want to delete the project type?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then(willDelete => {
                    if (willDelete) {
                        return axios
                            .delete(`/api/project-type/${id}`)
                            .then(() => this.$refs.projectTypeTable.refresh())
                            .catch(e => (this.errors = e.response.message));
                    }
                });
            }
        }
    };
</script>

<style scoped>
    .VueTables__search-field label {
        display: none !important;
    }
</style>