<template>
  <div class="testing-process-tabwrap">
    <div class="white-box">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="content-wrap d-block d-sm-inline-block">
            <h4 class="username">Your default Paypal account</h4>
            <p class="usermail">ndtester1@yopmail.com</p>
            <a href="#" class="">Change</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="white-box">
      <h4 class="block-title">
        Transaction History
      </h4>
      <form>
        <div class="row">
          <div class="col-md-4 col-12">
            <div class="form-group custom-form-group">
              <span class="text-bold">Records : </span>
              <select class="form-control custom-form-control">
                <option>Last 1 Month</option>
                <option>Lat 3 Months</option>
                <option>Last 6 Months</option>
                <option>Custom</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group custom-form-group">
              <span class="text-bold">From Date : </span>
              <datepicker input-class="form-control custom-form-control" :format="'dd MMM yyyy'"></datepicker>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="form-group custom-form-group">
              <span class="text-bold">To Date : </span>
              <datepicker input-class="form-control custom-form-control" :format="'dd MMM yyyy'"></datepicker>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="white-box">
      <h4 class="block-title">
        Transactions
      </h4>
      <div class="table-responsive tester-payment-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Payment Date</th>
              <th scope="col">Project Name</th>
              <th scope="col" class="text-right">Amount</th>
              <th scope="col" class="text-right">Ref. Id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1 Mar 2018</td>
              <td>Oculus VR Games Development</td>
              <td class="text-right">$123.30</td>
              <td class="text-right"><a href="#" class="">12313123</a></td>
            </tr>
            <tr>
              <td scope="row">25 Feb 2018</td>
              <td>Withdrawl Request for $430</td>
              <td class="text-right">-$430.45</td>
              <td class="text-right"><a href="#" class="">432122</a></td>
            </tr>
            <tr>
              <td scope="row">14 Feb 2018</td>
              <td>Cardboard Single Player VR Game</td>
              <td class="text-right">$50.00</td>
              <td class="text-right"><a href="#" class="">123213</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p> Your current balance is : <span class="text-bold">$123.20</span>. Would you like to withdraw balance amount ?
    </p>
  </div>
</template>

<script>
import Vue from "vue";
export default {
  name: "payment"
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";
.text-green {
  color: #2cac3d;
}
.text-red {
  color: #e63423;
}
.text-blue {
  color: #00aff3;
}
.text-bold {
  font-family: $font-family-brandon-bold !important;
}
.text-medium {
  font-family: $font-family-brandon-medium;
}
.info-wrap {
  background-color: #fcb3b4;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 20px;
}
.white-box {
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #606368;
  letter-spacing: 0;
  a {
    font-size: 14px;
    color: #0082cc;
    font-family: $font-family-brandon-regular;
    text-decoration: underline !important;
  }
  .block-title {
    font-size: 20px;
    font-family: $font-family-UniNeue-bold;
    border-bottom: 1px solid #dadada;
    color: #0082cc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .content-wrap {
    vertical-align: middle;
    .username {
      font-family: $font-family-UniNeue-regular;
      font-size: 25px;
      color: #363e48;
      margin-bottom: 0px;
    }
    .usermail {
      font-size: 15px;
      color: #73767b;
      font-family: $font-family-brandon-regular;
      margin-bottom: 0;
    }
  }
  .custom-form-group {
    .custom-form-control {
      background-color: transparent !important;
    }
  }
}
.green-btn {
  width: 100%;
  max-width: 130px;
  padding: 7px 10px;
  border: 2px solid #118921;
  background-color: #2cac3d;
  font-size: 14px;
  font-family: $font-family-brandon-medium;
  letter-spacing: 0.05rem;
  color: #fff;
  margin: 15px auto;
  border-radius: 20px;
  display: block;
  &:hover {
    background-color: #158f25;
  }
}
.blue-btn {
  width: 100%;
  max-width: 130px;
  padding: 7px 10px;
  border: 2px solid #0082cc;
  background-color: #00aff5;
  font-size: 14px;
  font-family: $font-family-brandon-medium;
  letter-spacing: 0.05rem;
  color: #fff;
  margin: 15px auto;
  border-radius: 20px;
  display: block;
  &:hover {
    background-color: #13b9fb;
  }
}
@media screen and(max-width:1281px) {
  .white-box {
    .content-wrap {
      .username {
        font-size: 22px;
      }
    }
  }
}
@media screen and(max-width:1200px) {
  .white-box {
    .block-title {
      font-size: 18px;
    }
  }
}
@media screen and(max-width:991px) {
  .white-box {
    padding: 15px;
  }
}
@media screen and(max-width:767px) {
  .white-box {
    .content-wrap {
      margin-bottom: 5px;
      .username {
        font-size: 18px;
        margin-bottom: 5px;
      }
    }
  }
}
@media screen and(max-width:575px) {
  .white-box {
    line-height: 18px;
  }
}
</style>