<template>
    <div class="tester-profile-page">
        <div class="white-box">
            <div class="row">
                <div class="col-xl-5 col-12">
                    <div class="img-wrap d-block d-sm-inline-block">
                        <!-- <div v-if="!image"> -->
                        <!-- <h2 class="">Select an image</h2> -->
                        <input type="file" v-on:change="onFileChange" class="form-control choose-img-btn">
                        <!-- </div> -->
                        <img :src="previewUrl ? previewUrl : model.profile" class="img-fluid" />
                    </div>
                    <div class="content-wrap d-block d-sm-inline-block">
                        <h4 class="username">{{ model.first_name }} {{ model.last_name }}</h4>
                        <p class="usermail">{{ model.email }}</p>
                    </div>
                </div>
                <div class="col-xl-7 col-12">
                    <div class="user-profile-form">
                        <div class="form-group d-inline-block custom-county-block">
                            <label>Country</label>
                            <span class="d-block text-bold">
                            {{ model.country ? model.country.name : '' }}
                          </span>
                        </div>
                        <div class="form-group d-inline-block">
                            <label>Gender</label>
                            <span class="d-block text-bold">
                          {{ model.gender }}
                          </span>
                        </div>
                        <div class="form-group d-inline-block">
                            <label>Birthdate</label>
                            <span class="d-block text-bold">
                            {{ model.date_of_birth | date }}
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-box">
            <h4 class="block-title">
                Basic Information
            </h4>
            <div class="detail-form">
                <div class="row">
                    <div class="col-12">
                        <span class="d-inline-block ">
                          Cell <br> Number :
                        </span>
                        <span class="text-bold d-inline-block">
                            {{ model.mobile_no }}
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="white-box">
            <h4 class="block-title">
                Other Information
            </h4>
            <p class="mb-0">
                {{ model.additional_information }}
            </p>
        </div>
    </div>

</template>
<script>
    // import Vue from "vue";
    // Vue.use(VueForm, options);
    export default {
        name: "ComponentsProfile",
        data() {
            return {
                showNda: false,
                formstate: {},
                model: {},
                aDevices: {},
                aCountries: {},
                additional_devices: [],
                device_map: {},
                policy_agree: false,
                previewUrl: "/images/device_no_icon.png"
            };
        },
        mounted: function() {
            axios
                .get("/api/devices")
                .then(response => {
                    this.aDevices = response.data;
                    this.aDevices.forEach(d => (this.device_map[d.id] = false));
                    return axios.get(`/api/tester/${this.$store.state.user.id}`);
                })
                .then(({ data: { data } }) => this.assignData(data))
                .catch(function(error) {});

            axios
                .get("/api/getCountries")
                .then(response => {
                    this.aCountries = response.data;
                })
                .catch(function(error) {});
        },
        methods: {
            showNDA() {
                this.showNda = true;
            },
            hideNDA() {
                if (localStorage.getItem("nda-agree")) {
                    this.model.policy_agree =
                        localStorage.getItem("nda-agree") == "1" ? true : false;
                    localStorage.removeItem("nda-agree");
                }
                this.showNda = false;
            },
            assignData(data) {
                this.model = { ...this.model, ...data };
                this.previewUrl = data.profile;
                if (this.model.country_id == null) {
                    this.model.country_id = 231; // 'United states' will be selected as default
                }
                data.devices.forEach(d => (this.device_map[d.id] = true));
                if (hasClearedStep1(data.status.name)) {
                    this.model.policy_agree = true;
                }
            },
            /** Start - user image  */
            onFileChange(e) {
                const file = e.target.files[0];
                const ext = file.name.split(".").pop();
                if (["jpg", "jpeg", "png"].indexOf(ext) === -1) {
                    return this.$swal(
                        "Error",
                        "Only jpg, jpeg, png images are allowed",
                        "error"
                    );
                }
                this.iconFile = file;
                var reader = new FileReader();
                reader.onload = e => (this.previewUrl = e.target.result);
                reader.readAsDataURL(file);
                const formData = new FormData();
                formData.append("profile", file);
                formData.append("_method", "PUT");
                formData.append("email", this.model.email);
                axios
                    .post("/api/tester/" + this.model.id, formData)
                    .then(({ data: { data } }) => {
                        this.assignData(data);
                        this.$store.commit("set_user", data);
                    })
                    .catch(error => (this.error = error));
            },
            onSubmit: function() {
                if (this.formstate.$invalid) {
                    return;
                } else {
                    let p;
                    this.errors = null;
                    if (!this.model.policy_agree) {
                        return this.$swal(
                            "Error",
                            "Please read and agree to the policy",
                            "error"
                        );
                    }
                    if (this.model.id) {
                        this.model.additional_devices = this.additional_devices;
                        const devices = [];
                        Object.keys(this.device_map).forEach(id => {
                            if (this.device_map[id]) {
                                devices.push(parseInt(id));
                            }
                        });
                        this.model.image = this.image;
                        const requestData = { ...this.model, devices };
                        if (
                            requestData.date_of_birth &&
                            typeof requestData.date_of_birth !== "string"
                        ) {
                            requestData.date_of_birth = requestData.date_of_birth.toMysql();
                        }
                        requestData.status = "Step_1";
                        p = axios.put(`/api/tester/${this.model.id}`, requestData);
                        p
                            .then(response => {
                                this.$store.commit("set_user", response.data.data);
                                this.$router.push({ name: "tester.step2" });
                            })
                            .catch(error => (this.errors = error.response.data.message));
                    }
                }
            },
            handleChange: function(index, text) {
                if (text) {
                    this.additional_devices.splice(index, 0, text);
                } else {
                    this.additional_devices.splice(index, 1);
                }
            }
        },
        components: {
            "tags-input": require("vue-tagsinput/src/input.vue"),
            Policy
        }
    };
</script>
<style lang="scss" scoped>
    @import "../../layouts/css/_customvariables";
    .vue-js-switch {
        float: right;
    }
    .user_image {
        font-size: 10px;
    }
    .input {
        width: 100% !important;
    }
    .custom-county-block {
        width: 25%;
    }
    .text-bold{
        font-family:$font-family-brandon-bold;
    }
    .custom-container {
        max-width: 100%;
        .step-page-title {
            font-family: $font-family-UniNeue-bold;
            font-size: 30px;
            width: 100%;
            text-align: center;
            color: #363e48;
            margin: 5px 0 25px;
        }
        .tester-profile-page {
            width: 100%;
            .other-input {
                min-width: 150px;
            }
            .toggle-btn-group {
                width: calc(100% - 115px);
            }
            .load-proj-wrap{
                background-color: #2cac3d;
                color: #fff;
                font-family:$font-family-brandon-bold;
                border-radius: 4px;
                width: 100%;
                text-align: center;
                padding: 4px 8px;
                margin-bottom: 20px;
                font-size: 16px;
                border: 2px solid #118921;
            }
            .white-box {
                background-color: #fff;
                box-shadow: 0px 0px 3px 2px rgba(3, 3, 3, 0.05);
                border-radius: 4px;
                padding: 20px;
                margin-bottom: 20px;
                font-size: 17px;
                color: #606368;
                letter-spacing: 0;
                textarea {
                    font-size: 15px;
                    resize: none;
                }
                .block-title {
                    font-size: 20px;
                    font-family: $font-family-UniNeue-bold;
                    border-bottom: 1px solid #dadada;
                    color: #2cac3d;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                .img-wrap {
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                    border: 3px solid #1f8e28;
                    background-color: #f0f5f9;
                    vertical-align: middle;
                    margin-right: 15px;
                    padding: 18px 25px;
                    position: relative;
                    h2 {
                        font-size: 14px;
                        vertical-align: middle;
                        margin-top: 25px;
                        text-align: center;
                    }
                    .choose-img-btn {
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .content-wrap {
                    vertical-align: middle;
                    .username {
                        font-family: $font-family-UniNeue-regular;
                        font-size: 25px;
                        color: #363e48;
                        margin-bottom: 0px;
                    }
                    .usermail {
                        font-size: 15px;
                        color: #73767b;
                        font-family: $font-family-brandon-regular;
                        margin-bottom: 0;
                    }
                }
                .user-profile-form {
                    padding-top: 35px;
                    float: right;
                    width: 70%;
                    .form-group {
                        min-width: 80px;
                        margin-right: 20px;
                        vertical-align: top;
                        &:last-child {
                            margin-right: 0;
                        }
                        .form-control {
                            &:hover,
                            &:focus {
                                outline: none !important;
                            }
                        }
                        label {
                            display: block;
                        }
                        .form-check {
                            display: inline-block;
                            margin-right: 15px;
                            .form-check-input {
                                margin-left: 0;
                            }
                            .form-check-label {
                                padding-left: 20px;
                            }
                        }
                    }
                }
                .detail-form {
                    width: 100%;
                    span {
                        max-width: 210px;
                        vertical-align: middle;
                        font-size: 16px;
                        color: #606368;
                        line-height: 20px;
                        margin-right: 15px;
                    }
                    .form-control {
                        width: calc(100% - 90px);
                        float: right;
                        margin-top: 5px;
                        &:hover {
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .toggle-btn-group {
                        display: inline-block;
                        vertical-align: inherit;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }
                .device-name {
                    font-size: 17px;
                    color: #606368;
                    min-width: 110px;
                    vertical-align: middle;
                    display: inline-block;
                    min-width: 75%;
                }
                .selected-txt{
                    display: inline-block;
                    vertical-align: middle;
                }
                .toggle-btn-group {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    .green-btn {
                        background-color: #2cac3d;
                        font-size: 17px;
                        font-family: $font-family-brandon-medium;
                        letter-spacing: 0.05rem;
                        color: #fff;
                        border-radius: 4px;
                        padding: 0px 10px;
                        &:hover {
                            background-color: #158f25;
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .white-btn {
                        background-color: #fff;
                        border: 1px solid #e4e4e4;
                        font-size: 17px;
                        font-family: $font-family-brandon-regular;
                        letter-spacing: 0.05rem;
                        color: #606368;
                        border-radius: 4px;
                        padding: 0px 10px;
                        margin-left: 5px;
                        &:hover {
                            background-color: #e4e4e4;
                            outline: none !important;
                        }
                        &:focus {
                            outline: none !important;
                        }
                    }
                    .form-control {
                        vertical-align: middle;
                        &:hover,
                        &:focus {
                            outline: none !important;
                        }
                    }
                }
                .policy-text {
                    margin-bottom: 5px;
                    a {
                        color: #2cac3d;
                        font-family: $font-family-brandon-bold;
                        font-size: 15px;
                        text-decoration: underline !important;
                    }
                }
                .agreed-txt{
                    font-size: 15px;
                    color: #2cac3d;
                }
            }
            .green-step-btn {
                width: 100%;
                max-width: 130px;
                padding: 7px 10px;
                border: 2px solid #118921;
                background-color: #2cac3d;
                font-size: 14px;
                font-family: $font-family-brandon-medium;
                letter-spacing: 0.05rem;
                color: #fff;
                margin: 15px auto;
                border-radius: 20px;
                display: block;
                &:hover {
                    background-color: #158f25;
                }
            }
        }
    }
    @media screen and(max-width:1281px) {
        .custom-container {
            .tester-profile-page {
                .white-box {
                    font-size: 16px;
                    textarea {
                        font-size: 14px;
                    }
                    .img-wrap {
                        height: 100px;
                        width: 100px;
                        padding: 15px 20px;
                        margin-right: 10px;
                    }
                    .content-wrap {
                        .username {
                            font-size: 22px;
                        }
                    }
                    .detail-form {
                        span {
                            max-width: 160px;
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    .device-name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    @media screen and(max-width:1200px) {
        .custom-container {
            .step-page-title {
                font-size: 28px;
                margin: 0 0 20px;
            }
            .tester-profile-page {
                .white-box {
                    font-size: 15px;
                    .block-title {
                        font-size: 18px;
                    }
                    .user-profile-form {
                        padding-top: 20px;
                        float: left;
                        .form-group {
                            .form-check {
                                margin-right: 0;
                            }
                        }
                    }
                    .img-wrap {
                        height: 80px;
                        width: 80px;
                        padding: 10px 15px;
                    }
                    .detail-form {
                        .form-control {
                            float: left;
                        }
                    }
                    .device-name {
                        min-width: 100%;
                        display: block;
                        font-size: 15px;
                    }
                    .toggle-btn-group {
                        display: block;
                        .green-btn {
                            font-size: 15px;
                        }
                        .white-btn {
                            font-size: 15px;
                        }
                        .form-control {
                            max-width: 100px;
                        }
                    }
                    .policy-text {
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width:991px) {
        .custom-container {
            .tester-profile-page {
                .white-box {
                    padding: 15px;
                    .detail-form {
                        .form-control {
                            max-width: 120px;
                            float: none;
                            margin-bottom: 15px;
                            margin-left: 15px;
                        }
                        span {
                            min-height: auto;
                            max-width: 100%;
                            br {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width:575px) {
        .custom-container {
            .step-page-title {
                font-size: 26px;
            }
            .tester-profile-page {
                .white-box {
                    font-size: 14px;
                    line-height: 18px;
                    .img-wrap {
                        margin-bottom: 10px;
                    }
                    .detail-form {
                        .toggle-btn-group {
                            margin-bottom: 15px;
                        }
                    }
                    .user-profile-form {
                        width: 100%;
                        .form-group {
                            min-width: 100%;
                            margin-right: 0;
                        }
                    }
                    .policy-text {
                        font-size: 14px;
                    }
                    .agree-text {
                        font-size: 13px;
                    }
                }
            }
        }
    }
</style>
