<template>
  <div class="proj-block-wrap">
    <div class="row align-items-center">
      <div class="col-md-12 col-xl-10 border-xl-right">
        <div class="row">
          <div class="col-12 mb-2">
            <span class="proj-title text-uppercase">{{ project.name }}</span>
          </div>
          <div class="col-xl-4 col-lg-6 text-left">
              <div class="mb-2">
                <span class="text-bold mr-1 d-block d-sm-inline-block">Devices : </span>
                <span class="d-block d-sm-inline-block">
                  <device-selector disabled v-model="selected_devices"></device-selector>
                </span>
              </div>
              <div class="mb-2">
                <span class="text-bold mr-1 d-block d-sm-inline-block">Type : </span>
                <span class="d-block d-sm-inline-block">{{ project.project_type.name }}</span>
              </div>
              <div class="mb-2" v-if="project.status.name == 'Running'">
                <span class="d-block d-sm-inline-block">{{ project.testersSubmitted.length }} Testers Submitted, </span>
                <span class="d-block d-sm-inline-block">{{ project.tester_needed - project.testersSubmitted.length }} Pending</span>
              </div>
              <div class="mb-2" v-else-if="project.status.name == 'Pending Approval'">
                <span class="d-block d-sm-inline-block">Testers needed : </span>
                <span class="d-block d-sm-inline-block">{{ project.tester_needed }} </span>
              </div>
          </div>
          <div class="col-xl-4 col-lg-6 text-left">
            <div class="mb-2">
              <span class="text-bold mr-1 d-block d-sm-inline-block">
                Estimated Tester Time needed to complete :
              </span>
              <span class="d-block d-sm-inline-block"> {{ project.estimate_tester_time }} Hours</span>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 text-xl-right">
            <div class="mb-2">
              <span class="text-bold mr-1 d-block d-sm-inline-block">Start Date : </span>
              <span class="d-block d-sm-inline-block">{{ project.start_date | date}}</span>
            </div>
            <div>
              <span class="text-bold mr-1 d-block d-sm-inline-block">End Date : </span>
              <span class="d-block d-sm-inline-block">{{project.end_date | date}}</span>
            </div>
            <div v-if="project.status.name != 'Pending Approval'" class="mb-2">
              <span class="text-bold mr-1 d-block d-sm-inline-block pl-xl-0">
                Progress :
              </span>
              <span  class="mb-2 d-block d-sm-inline-block">
                <span class="text-bold mr-2">100%</span>
                <img src="~img/green-progress-full.png" class="img-fluid"/>
              </span>
            </div>
            <div class="mb-2">
              <span v-if="this.project.status.name == 'Running'" class="text-bold mr-1 d-block d-sm-inline-block pl-xl-0">
                Started On:
              </span>
              <span v-if="this.project.status.name == 'Pending Approval'" class="text-bold mr-1 d-block d-sm-inline-block pl-xl-0">
                Request for approval sent on:
              </span>
              <span class="mb-2 d-block d-sm-inline-block">
                {{project.created_at | datetime }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-2 btn-wrap">
        <router-link class="blue-btn" :to="{ name: `publisher.project.${project_approved ? 'invoice' : 'view'}`, params: { id: project.id }}">View Project</router-link>
        <router-link tag="a" :to="{ name: 'publisher.project.edit', params: { id: project.id }}" class="text-center mt-5 m-5">
          Edit project
        </router-link>
        <!-- <a href="javascript:;" @click.prevent="onDelete(project.id)" class="btn btn-warning text-white"><i class="fa fa-trash"></i></a> --> 
      </div>
    </div>
  </div>
</template>
<script>
import DeviceSelector from "components/components/device-selector";
import { isProjectApproved } from "src/services/project";
export default {
  name: "ProjectItem",
  components: {
    DeviceSelector
  },
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      originalUser: window.USER
    };
  },
  computed: {
    selected_devices() {
      return (this.project.devices || []).map(({ id }) => id);
    },
    project_approved() {
      return isProjectApproved(this.project.status.name);
    }
  },
  methods: {
    onDelete(id) {
      this.$emit("delete", id);
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../../layouts/css/_customvariables";
  .text-blue{
    color: #0082cc;
  }
  .text-red{
    color: #e63423;
  }
  .text-green{
    color: #2cac3d;
  }
  .text-bold{
    font-family: $font-family-brandon-bold;
  }
  .text-medium{
    font-family: $font-family-brandon-medium;
  }
  .blue-btn{
      width: 100%;
      padding: 2px 4px;
      border:2px solid #0082cc;
      background-color: #00aff5;
      font-size: 14px;
      font-family: $font-family-brandon-medium;
      letter-spacing: 0.05rem;
      color: #fff;
      border-radius: 20px;
      display: block;
      text-align: center;
      &:hover{
        background-color: #13b9fb;
      }
    }
  .proj-block-wrap{
      padding: 15px 0;
      font-family: $font-family-brandon-regular;
      font-size: 14px;
      color: #606368;
      position: relative;
      border-bottom: 1px solid #dadada;
      span{
        vertical-align: top;
      }
      .border-xl-right{
        border-right: 1px solid #dadada;
      }
    .proj-title{
      font-family: $font-family-brandon-bold;
      font-size: 16px;
      color: #363e48;
    }
  }
@media screen and(max-width:1200px) {
  .blue-btn{
    float: right;
    max-width: 150px;
  }
  .proj-block-wrap{
    .border-xl-right{
      border-right: none;
    }
  }
}
@media screen and(max-width:991px) {
  .blue-btn{
    float: left;
    margin-top: 10px;
  }
}
@media screen and(max-width:767px) {
  .proj-block-wrap{
    padding: 10px 0 15px;
    .proj-title{
      font-size: 20px;
    }
  }
}

@media screen and(max-width:575px) {
  .proj-block-wrap{
    .proj-title{
      font-size: 18px;
    }
  }
}
</style>
